//partial imports
@import 'partials/partials';

// global styles here

html{
  background:$white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  font-family:$bodyFont;
  min-height: 100%;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

//heading fonts

h1,
h2,
h3,
h4,
h5,
h6{
	font-family:$headingFont;
	margin:20px 0 10px;
	-webkit-font-smoothing:antialiased;
}