//partial imports
@import 'partials/partials';

//submodule imports
@import 'submodules/submodules';

//module imports
@import 'modules/modules';

// uncatagorical styles
body{
	text-shadow:rgba(255, 255, 255, 0.4) 1px 1px 0;
}
p{
	line-height:1.5em;
}

hr{
	border-left:0;
}