<footer class="footer">
	{{> sitemap}}

	{{#if footer}}
	{{#each footer}}
		{{#if learn-more}}
		<h6 class="hide-m"><a href="/" class="link">Learn about KEYTRUDA for other types of cancers</a></h6>
		{{/if}}
		{{#if children}}
		<ul class="list link-list">
			{{#each children}}
			<li><a href="{{href}}" title="{{title}}" target="_blank">{{label}}</a></li>
			{{/each}}
		</ul>
		{{/if}}
	{{/each}}
	{{/if}}

	<div class="image merck-oncology clearfix">
		<img src="/static/images/Merck_Oncology_RGB_rwd.svg" alt="Merck Oncology"/>
	</div>

	{{!-- Copyright Info --}}
	<small class="copyright">Copyright © 2016 Merck Sharp &amp; Dohme Corp.,
	a subsidiary of <strong>Merck &amp; Co., Inc.</strong> All rights reserved.<br class="hide-m" /> This site is intended only for residents of the United States, its territories, and Puerto Rico.
		<br/>

		<!-- DESKTOP JOB CODE -->
		<span class="hide-m">ONCO-XXXXXXX-XXXX XX/XX</span>
		<!-- /DESKTOP JOB CODE -->

		<!-- MOBILE JOB CODE -->
		<span class="show-m">ONCO-XXXXXXX-XXXX XX/XX</span>
		<!-- /MOBILE JOB CODE -->
	</small>

	{{#if footer}}
	{{#each footer}}
		{{#if image-list}}
			<ul class="list image-list">
				<li><a href="http://privacy.truste.com/privacy-seal/Merck-and-Co-,-Inc-/validation?rid=7437b42b-c947-434e-b1f5-db06d0327616" class="link" target="_blank"><img src="/static/images/TRUSTe_APEC_seal_rwd.jpg" /></a></li>
				<li><a href="http://privacy.truste.com/privacy-seal/Merck-and-Co-,-Inc-/validation?rid=7437b42b-c947-434e-b1f5-db06d0327616" class="link" target="_blank"><img src="/static/images/TRUSTe_seal_rwd.jpg" /></a></li>
			</ul>
		{{/if}}
	{{/each}}
	{{/if}}
</footer>