<header class="header">
	{{#if header}}
	<ul class="header-list">
		{{#each header}}
		<li>
			<a href="{{href}}" {{#if target}}target="{{target}}"{{/if}} title="{{title}}">{{{label}}}</a>
		</li>
		{{/each}}
	</ul>
	{{/if}}

	<button class="header-dropdown">Select Cancer Type <span class="chevron-down navy">&nbsp;</span></button>
	<ul class="header-dropdown-list">
		<li><a href="/melanoma/">Advanced Melanoma</a></li>
		<li><a href="/non-small-cell-lung-cancer/">Non-Small Cell Lung Cancer</a></li>
		<li><a href="/head-and-neck-cancer/">Head and Neck Squamous Cell Cancer</a></li>
	</ul>
</header>