<div class="container hidden">
    <div id="third-party-overlay">
        <h1 class="heading">Thank you for visiting keytruda.com</h1>
        <p>Merck does not review or control the content at the site to which this hyperlink connects; therefore, this hyperlink does not constitute an endorsement by Merck of the content of any non-Merck site.</p>
        <p class="subhead">Do you wish to continue?</p>
        <p class="inline-button-wrapper"><a href="#" target="_blank" class="inline-button interstitial-link">Ok</a><a href="#" class="inline-button interstitial-cancel">Cancel</a></p>
    </div>
</div>