<div class="container hidden">
    <div id="third-party-overlay">
        <h1>You are leaving the site.</h1>
        <p class="subhead">Do you wish to continue?</p>
        <p class="inline-button-wrapper"><a href="#" target="_blank" class="inline-button interstitial-link">Ok</a><a href="#" class="inline-button interstitial-cancel">Cancel</a></p>
    </div>
</div>
