
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <title>index</title>
        <meta name="data-audience" content="HCC" />
        <meta name="data-localproductname" content="KEYTRUDA" />
        <meta name="data-profile" content="keytruda.com" />
        <meta name="data-marketcode" content="us" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" media="all" href="/static/css/main.css" />
    </head>

    <body id="" class="base">
        <div id="page-wrapper" class="mrk-clearfix">

            <!-- TOP -->
            <div id="top">
                <div id="j_id_15" class="mrk-section mrk-clearfix">
                    <div class="SiteEditCP">
                        <!-- Start SiteEdit Component Presentation: {"ID" : "top_1", "ComponentID" : "tcm:3817-571675", "ComponentTemplateID" : "tcm:3817-8688-32", "ComponentVersion" : 0, "IsQueryBased" : true  }-->
                    </div>
                </div>
            </div>
            <!-- /TOP -->

            <!-- TOPNAV -->
            <div id="topNav">

            </div>
            <!-- /TOPNAV -->

            <!-- BREADCRUMB -->
            <div id="breadcurmNav">

            </div>
            <!-- /BREADCRUMB -->

            <!-- .global-wrapper -->
            <div class="mrk-grid mrk-clearfix global-wrapper">

                <!-- MIDDLE -->
                <div id="middle">
                    <div id="j_id_rb" class="mrk-section mrk-clearfix">

                        {{!-- ******************************************* --}}
                        {{!-- ALL SITE CONTENT MUST GO WITHIN .SiteEditCP --}}
                        {{!-- ******************************************* --}}
                        <div class="SiteEditCP">

                            <!--  BODY  -->
                            {{{body}}}
                            <!--  /BODY  -->

                            <!-- POPUP OVERLAYS -->
                            {{> popups}}
                            <!-- /POPUP OVERLAYS -->
                        </div>
                        {{!-- ******************************************** --}}
                        {{!-- /ALL SITE CONTENT MUST GO WITHIN .SiteEditCP --}}
                        {{!-- ******************************************** --}}


                    </div>



                </div>
                <!-- /MIDDLE -->
            </div>

            <!-- BOTTOM -->
            <div id="bottom">
                <div id="j_id_1hc" class="mrk-section mrk-clearfix   ">
                    <div class="SiteEditCP">
                        <!-- Start SiteEdit Component Presentation: {"ID" : "bottom_1", "ComponentID" : "tcm:3817-571680", "ComponentTemplateID" : "tcm:3817-8689-32", "ComponentVersion" : 0, "IsQueryBased" : true  }-->
                    </div>
                </div>
            </div>
            <!-- /BOTTOM -->
        </div>

        <script type="text/javascript" src="/static/js/main.bundle.js"></script>
    </body>

</html>