.content{
	@extend .clearfix;
	background:rgba(0,0,0,0.1);
	border-radius:1em;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow: inset rgba(0, 0, 0, 0.1) -1px -1px 5px 0px;

	.h2{
		color:$white;
		text-shadow: rgba(0,0,0,0.3) -1px -1px 1px;
	}

	hr{
		border-color:$white;
		border-style:dashed;
	}

	.content-wrapper{
		width:100%;
	}

	.image-wrapper{
		float: left;
		width:25%;
		margin: 1em 1em 0 0;
	}

	.image-wrapper + .content-wrapper{
		width:70%;
		float: left;
	}

	&.text-right{
		.image-wrapper{
			float: right;
			margin:1em 0 0 1em;
		}

		.image-wrapper + .content-wrapper{
			width:70%;
			float: right;
		}
	}
}