<div class="container first-article last-article">
	<section class="section-article">
		<h1>{{title}}</h1>
		{{{content}}}
	</section>
</div>

<div class="container last-article">
	<footer class="section-article">
		{{footer}}
	</footer>
</div>