<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" id="desktop"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" id="desktop"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8" id="desktop"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9" id="desktop"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" id="desktop"> <!--<![endif]-->
<head>

	<!-- page title tag -->
	<title>[page title]</title>
	<!-- page meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="robots" content="all" />
	<!-- opengraph meta tags -->
	<meta property="og:title" content="" />
	<meta property="og:type" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:description" content="" />
	<meta property="og:site_name" content="" />
	<meta property="fb:admins" content="" />
	{{> headFiles}}
</head>
<body>
	<div class='wrapper'>
		{{>header}}
		<div id="body">
			<div class="container clearfix">
				<div class="row">
					<div class="grid-sm-12">
						<h1 class="h1">Mizer CSS</h1>
						<p>There are several css classes and helpers already set up to give a base foundation for any site. Each module and submodule
	                        should have it's own scss file to illustrate the modular approach. If a module or submodule has a large amount of css,
	                        it should not be created as a partial. For instance, a slider module should use slider.scss instead of _slider.scss. This
	                        way, you can include the css seperatly.</p>
					</div>
				</div>
                <div class="row equal-heights">
            		<div class="grid-sm-12 lg-grid-8">
            			<div class="row">
	            			<div class="grid-sm-12 module">
	            				<h2>Browsers</h2>
	            				{{$ 'paragraph' content="The browsers directory is used to target specific browsers, those who cause trouble (*COUGH* IE *COUGH*). 
	            					Certain browser versions can be used as partials and combine for overall browser styles. By default, IE8 and IE9 import into
	            					ie-oldie and is applied by conditional comments."}}

            					{{$ 'link' content="Partials Detail" href="/pages/css/browsers"}}
	            			</div>
            			</div>
            			<div class="row">
	            			<div class="grid-sm-12 module">
	            				<h2>Partials</h2>

	            				{{$ 'paragraph' content="Partials are the meat and bones of the Mizer CSS. They include many styles that lay
	            				the foundation of any site. Included is a grid system, common mixins, normalize, helper classes, and more. To view detailed
	            				descriptions of each, click the link below."}}

	            				{{$ 'link' content="Partials Detail" href="/pages/css/partials"}}
	            			</div>
            			</div>
            			<div class="row">
	            			<div class="grid-sm-12 module">
	            				<h2>Submodules</h2>
	            				{{$ 'paragraph'}}
	            				{{$ 'link' content="Partials Detail" href="/pages/css/submodules"}}
	            			</div>
            			</div>
            			<div class="row">
	            			<div class="grid-sm-12 module no-margin-bottom">
		            			<h2>Modules</h2>
		            			{{$ 'paragraph'}}
		            			{{$ 'link' content="Partials Detail" href="/pages/css/modules"}}
	                        </div>
                        </div>
            		</div>
            		<div class="sm-hide md-hide lg-grid-4 module">
            			<h3>CSS Directory Structure in order if inheritence</h2>
                    	<ul>
                    		<li>SCSS</li>
                        	<ul>
                        		<li>Browsers
	                        		<ul>
		                        		<li>_ie8.scss</li>
		                        		<li>_ie9.scss</li>
		                        		<li>ie-oldie.scss</li>
	                        		</ul>
                        		</li>
                        		<li>Partials
                        			<ul>
                        				<li>_fonts.scss</li>
		                        		<li>_grid.scss</li>
		                        		<li>_helpers.scss</li>
		                        		<li>_layouts.scss</li>
		                        		<li>_mixins.scss</li>
		                        		<li>_normalize.scss</li>
		                        		<li>_config.scss</li>
	                        		</ul>
                        		</li>
                        		<li>SubModules
                        			<ul>
		                        		<li>_ie8.scss</li>
		                        		<li>_ie9.scss</li>
		                        		<li>ie-oldie.scss</li>
	                        		</ul>
                        		</li>
                        		<li>Modules
                        			<ul>
		                        		<li>_ie8.scss</li>
		                        		<li>_ie9.scss</li>
		                        		<li>ie-oldie.scss</li>
	                        		</ul>
                        		</li>
                        	</ul>
                    	</ul>
            		</div>
                </div>
			</div>
		</div>
		{{>footer}}

	</div>
	{{> bodyFiles}}
</body>
</html>
