<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" id="desktop"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" id="desktop"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8" id="desktop"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9" id="desktop"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" id="desktop"> <!--<![endif]-->
<head>

	<!-- page title tag -->
	<title>[page title]</title>
	<!-- page meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="robots" content="all" />
	<!-- opengraph meta tags -->
	<meta property="og:title" content="" />
	<meta property="og:type" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:description" content="" />
	<meta property="og:site_name" content="" />
	<meta property="fb:admins" content="" />
	{{> headFiles}}
</head>
<body>
	<div class='wrapper'>
		{{>header}}
		<div id="body">
			<div class="container clearfix">
				<div class="row">
					<div class="grid-12">
						<h1>The quick brown fox jumps over the lazy dog</h1>
						<h2>The quick brown fox jumps over the lazy dog</h2>
						<h3>The quick brown fox jumps over the lazy dog</h3>
						<h4>The quick brown fox jumps over the lazy dog</h4>
						<h5>The quick brown fox jumps over the lazy dog</h5>
						<h6>The quick brown fox jumps over the lazy dog</h6>	
						<p>The quick brown fox jumps over the lazy dog</p>

						<h1 class="font-xsm">The quick brown fox jumps over the lazy dog</h1>
						<h2 class="font-sm">The quick brown fox jumps over the lazy dog</h2>
						<h3 class="font-med">The quick brown fox jumps over the lazy dog</h3>
						<h4 class="font-lg">The quick brown fox jumps over the lazy dog</h4>
						<h5 class="font-xlg">The quick brown fox jumps over the lazy dog</h5>
						<h6 class="font-xxlg">The quick brown fox jumps over the lazy dog</h6>	
						<p class="font-sm">The quick brown fox jumps over the lazy dog</p>
					</div>
				</div>
			</div>
			<div class="container clearfix">
				<div class="row">
					<div class="grid-sm-12 grid-med-3">
						dddd
					</div>
					<div class="ggrid-sm-12 grid-med-3">
						dddd
					</div>
					<div class="grid-sm-12 grid-med-3">
						dddd
					</div>
					<div class="grid-sm-12 grid-med-3">
						dddd
					</div>
				</div>
			</div>
		</div>
		{{>footer}}

	</div>
	{{> bodyFiles}}
</body>
</html>
