<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" id="desktop"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" id="desktop"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8" id="desktop"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9" id="desktop"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" id="desktop"> <!--<![endif]-->
<head>

	<!-- page title tag -->
	<title>[page title]</title>
	<!-- page meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="robots" content="all" />
	<!-- opengraph meta tags -->
	<meta property="og:title" content="" />
	<meta property="og:type" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:description" content="" />
	<meta property="og:site_name" content="" />
	<meta property="fb:admins" content="" />
	{{> headFiles}}
</head>
<body>
	<div class='wrapper'>
		{{>header}}
		<div id="body">
			<div class="container clearfix">
				<div class="row">
					<div class="grid-12">
						<h1 class="h1">Mizer</h1>
						{{$ 'paragraph' content="Mizr is a modular approach to building lean, mean Front-End Templates developed and maintained by a small group of developers at The Designory, Inc."}}

					</div>
				</div>
                <div class="row">
                    <div class="sm-grid-12 module">
                        <h2 class="h2">Let's get started:</h2>
                        {{$ 'button' content='Download Mizer'}}
                        <p>Please be sure to have the following prerequisites installed:</p>
                        <ul>
                            <li><a href="http://nodejs.org/" target="_blank">Node.js</a></li>
                            <li><a href="http://sass-lang.com/" target="_blank">SASS</a></li>
                        </ul>
                        <p>Once Mizer has been downloaded and the prerequisites have been installed, we can get started with Mizer.</p>
                        <h3 class="h3">Install the dependencies</h3>
                        <code>npm install</code>
                        <p>Or</p>
                        <code>sudo npm install</code>
                    </div>
                </div>
                <div class="row equal-heights">
                    <div class="sm-grid-6 module">
                        <h3 class="h3">SubModules</h3>
                        <p>SubModules are small collections of code used throughout the site.
                            If you are familiar with an <a href="http://bradfrostweb.com/blog/post/atomic-web-design/" target="_blank">Atomic Design</a>,
                            you can think of SubModules as atoms. SubModules are the basic building block of any site, including buttons, paragraphs, links, headings, etc.</p>

                        <p>In Mizer, calling a SubModule can be as simple as the following:</p>
                        <code> &#123;&#123;$ 'button'&#125;&#125;</code>
                        <p>Which renders:</p>
                        {{$ 'button'}}

                        <p>SubModules can also have options, consider the following:</p>
                        <code> &#123;&#123;$ 'button' content='This is a button' &#125;&#125;</code>
                        <p>Which renders:</p>
                        {{$ 'button' content='This is a button'}}

                        <p>Multiple options can be made available and used in conjunction:</p>
                        <code> &#123;&#123;$ 'button' size='large' type='secondary' content='CTA Btn' &#125;&#125;</code>
                        {{$ 'button' size='large' type='secondary' content='CTA Btn'}}

                        <p>To learn more about creating and using SubModules, <a href="#">Click Here</a>.</p>
                    </div>
                    <div class="sm-grid-6 module">
                        <h3 class="h3">Modules</h3>
                        <p>Modules are made up of several SubModules. You can think of Modules as a molecule in Atomic Design.
                            Modules can be used to quickly prototype a website or build reusable code.

                        <p>Mizer Modules are called with the following:</p>
                        <code>&#123;&#123;mzr 'content'&#125;&#125;</code>
                        <p>Which gives us a predefined set of our SubModules:</p>
                        {{mzr 'content'}}

                        <p>Much like SubModules, Modules can be configured to your liking:</p>
                        <code>&#123;&#123;mzr 'content' align='right' image='true'&#125;&#125;</code>
                        <p>Will return:</p>
                        {{mzr 'content' align='right' image='true'}}
                    </div>

                </div>

				<div class="row equal-heights">
					<div class="sm-grid-12 md-grid-6 module">
						{{$ 'heading' size="h3" content="Button Sub-module"}}
						{{$ 'paragraph' content="Button Description"}}

                        <div class="row">
                            <div class="sm-grid-12">
                                <code> &#123;&#123;$ 'button' type='secondary' &#125;&#125;</code>
                            </div>
                        </div>
                        <div class="row">
                            <div class="sm-grid-12 margin-bottom">
                                {{$ 'button' content="Button Primary"}}
                                {{$ 'button' type="secondary" content="Button Secondary"}}
                                {{$ 'button' type="tertiary" content="Button Tertiary"}}
                            </div>
                        </div>


                        <div class="row">
                            <div class="sm-grid-12">
                                <code> &#123;&#123;$ 'button' size="xx-small" &#125;&#125;</code>
                            </div>
                        </div>
                        <div class="row">
                            <div class="sm-grid-12">
                                {{$ 'button' content="Button XX-Small" size="xx-small"}}
                                {{$ 'button' content="Button X-Small" size="x-small"}}
                                {{$ 'button' content="Button Small" size="small"}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="sm-grid-12">
                                {{$ 'button' content="Button Regular"}}
                                {{$ 'button' content="Button Large" size="large"}}
                                {{$ 'button' content="Button X-Large" size="x-large"}}
                            </div>
                        </div>
					</div>
					<div class="sm-grid-12 md-grid-6 module">
						{{$ 'heading' size="h3"}}
            {{$ 'paragraph'}}
            {{$ 'link'}}
					</div>
				</div>

			</div>
		</div>
		{{>footer}}

	</div>
	{{> bodyFiles}}
</body>
</html>
