<div class="margin-bottom padding content{{#equals align 'right'}} text-right{{/equals}}">

	{{$ 'heading' size='h2' content="This is a Content Module"}}
	<hr />    

{{#if image}}
    <div class="image-wrapper">
        {{$ 'image' classes='rounded'}}
    </div>
{{/if}}

    <div class="content-wrapper">
    	{{$ 'paragraph'}}
		{{$ 'link' content="Module Link"}}
	</div>
</div>
