<div class="margin-bottom padding content{{#equals align 'right'}} text-right{{/equals}}">

    {{$ 'heading' size='h2' content="This is a Module"}}
    <hr />

    {{#if image}}
        {{$ 'image' classes='rounded'}}
    {{/if}}


    {{$ 'paragraph'}}
	{{$ 'link' content="Module Link"}}
    <hr />

</div>
