@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
/*Mixins */
/* line 102, ../partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 118, ../partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 131, ../partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 141, ../partials/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 156, ../partials/_normalize.scss */
html .d-chi-wrapper {
  background: white;
  color: #444444;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 171, ../partials/_normalize.scss */
html .d-chi-wrapper {
  font-family: Source Sans Pro, "Source Sans Pro", sans-serif;
}

/* line 177, ../partials/_normalize.scss */
.d-chi-wrapper button,
.d-chi-wrapper input,
.d-chi-wrapper select,
.d-chi-wrapper textarea {
  font-family: Source Sans Pro, "Source Sans Pro", sans-serif;
}

/* line 187, ../partials/_normalize.scss */
body {
  margin: 0;
}

/* line 205, ../partials/_normalize.scss */
.d-chi-wrapper a {
  color: #532e60;
  text-decoration: none;
  background: transparent;
}
/* line 215, ../partials/_normalize.scss */
.d-chi-wrapper a:focus {
  outline: thin dotted;
}
/* line 221, ../partials/_normalize.scss */
.d-chi-wrapper a:hover, .d-chi-wrapper a:active {
  outline: 0;
}
/* line 226, ../partials/_normalize.scss */
.d-chi-wrapper a:active {
  color: black;
}

/* line 241, ../partials/_normalize.scss */
h1,
.heading-1 {
  font-size: 2.25em;
  margin: 0;
  font-weight: 300;
  line-height: 1em;
  color: #444444;
}

/* line 250, ../partials/_normalize.scss */
h2,
.heading-2 {
  font-size: 3.75em;
  margin: 0;
  font-weight: 200;
  line-height: 1em;
  color: #532e60;
}

/* line 259, ../partials/_normalize.scss */
h3,
.heading-3 {
  font-size: 2.25em;
  margin: 0;
  font-weight: 200;
  line-height: 1.2em;
  color: #532e60;
}
@media only screen and (min-width: 48em) {
  /* line 259, ../partials/_normalize.scss */
  h3,
  .heading-3 {
    font-size: 2.25em;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 259, ../partials/_normalize.scss */
  h3,
  .heading-3 {
    font-size: 3em;
  }
}

/* line 276, ../partials/_normalize.scss */
h4,
.heading-4 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 300;
  line-height: 1em;
  color: #532e60;
}

/* line 285, ../partials/_normalize.scss */
h5,
.heading-5 {
  font-size: 1.125em;
  margin: 0;
  font-weight: 300;
  line-height: 1em;
  color: #532e60;
}

/* line 294, ../partials/_normalize.scss */
h6,
.heading-6 {
  font-size: 0.75em;
  margin: 0;
  line-height: 1em;
  color: #532e60;
}

/* line 308, ../partials/_normalize.scss */
.d-chi-wrapper abbr[title] {
  border-bottom: 1px dotted;
}
/* line 314, ../partials/_normalize.scss */
.d-chi-wrapper b,
.d-chi-wrapper strong {
  font-weight: bold;
}
/* line 327, ../partials/_normalize.scss */
.d-chi-wrapper dfn {
  font-style: italic;
}
/* line 333, ../partials/_normalize.scss */
.d-chi-wrapper mark {
  background: #ff0;
  color: #000;
}
/* line 349, ../partials/_normalize.scss */
.d-chi-wrapper code,
.d-chi-wrapper kbd,
.d-chi-wrapper pre,
.d-chi-wrapper samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/* line 362, ../partials/_normalize.scss */
.d-chi-wrapper pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* line 370, ../partials/_normalize.scss */
.d-chi-wrapper q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/* line 385, ../partials/_normalize.scss */
.d-chi-wrapper q:before,
.d-chi-wrapper q:after {
  content: '';
  content: none;
}
/* line 393, ../partials/_normalize.scss */
.d-chi-wrapper small {
  font-size: 80%;
}
/* line 400, ../partials/_normalize.scss */
.d-chi-wrapper sub,
.d-chi-wrapper sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 408, ../partials/_normalize.scss */
.d-chi-wrapper sup {
  top: -0.5em;
}
/* line 412, ../partials/_normalize.scss */
.d-chi-wrapper sub {
  bottom: -0.25em;
}
/* line 464, ../partials/_normalize.scss */
.d-chi-wrapper img {
  border: 0;
}
/* line 483, ../partials/_normalize.scss */
.d-chi-wrapper figure {
  margin: 0;
}
/* line 500, ../partials/_normalize.scss */
.d-chi-wrapper fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/* line 511, ../partials/_normalize.scss */
.d-chi-wrapper legend {
  border: 0;
  padding: 0;
  white-space: normal;
}
/* line 525, ../partials/_normalize.scss */
.d-chi-wrapper button,
.d-chi-wrapper input,
.d-chi-wrapper select,
.d-chi-wrapper textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: top;
}
/* line 540, ../partials/_normalize.scss */
.d-chi-wrapper button,
.d-chi-wrapper input {
  line-height: normal;
}
/* line 550, ../partials/_normalize.scss */
.d-chi-wrapper button,
.d-chi-wrapper select {
  text-transform: none;
}
/* line 563, ../partials/_normalize.scss */
.d-chi-wrapper button,
.d-chi-wrapper html input[type="button"],
.d-chi-wrapper input[type="reset"],
.d-chi-wrapper input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
/* line 576, ../partials/_normalize.scss */
.d-chi-wrapper button[disabled],
.d-chi-wrapper input[disabled] {
  cursor: default;
}
/* line 586, ../partials/_normalize.scss */
.d-chi-wrapper input[type="checkbox"],
.d-chi-wrapper input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 599, ../partials/_normalize.scss */
.d-chi-wrapper input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 609, ../partials/_normalize.scss */
.d-chi-wrapper input[type="search"]::-webkit-search-cancel-button,
.d-chi-wrapper input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 618, ../partials/_normalize.scss */
.d-chi-wrapper button::-moz-focus-inner, .d-chi-wrapper input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 627, ../partials/_normalize.scss */
.d-chi-wrapper textarea {
  overflow: auto;
  vertical-align: top;
}
/* line 638, ../partials/_normalize.scss */
.d-chi-wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../partials/_helpers.scss */
.d-chi-wrapper {
  /* helper classes*/
}
/* line 5, ../partials/_helpers.scss */
.d-chi-wrapper .hidden {
  display: none;
}
/* line 10, ../partials/_mixins.scss */
.d-chi-wrapper .clearfix:before, .d-chi-wrapper .image-list li:before, .d-chi-wrapper .clearfix:after, .d-chi-wrapper .image-list li:after {
  content: " ";
  display: table;
}
/* line 15, ../partials/_mixins.scss */
.d-chi-wrapper .clearfix:after, .d-chi-wrapper .image-list li:after {
  clear: both;
}
/* line 12, ../partials/_helpers.scss */
.d-chi-wrapper .image, .d-chi-wrapper .rounded, .d-chi-wrapper .circle, .d-chi-wrapper .thumbnail {
  max-width: 100%;
  height: auto;
}
/* line 15, ../partials/_helpers.scss */
.d-chi-wrapper .image img, .d-chi-wrapper .rounded img, .d-chi-wrapper .circle img, .d-chi-wrapper .thumbnail img {
  max-width: 100%;
  height: auto;
}
/* line 22, ../partials/_helpers.scss */
.d-chi-wrapper .rounded {
  border-radius: 1em;
}
/* line 25, ../partials/_helpers.scss */
.d-chi-wrapper .rounded img {
  border-radius: 1em;
}
/* line 29, ../partials/_helpers.scss */
.d-chi-wrapper .circle {
  border-radius: 50%;
}
/* line 32, ../partials/_helpers.scss */
.d-chi-wrapper .circle img {
  border-radius: 50%;
}
/* line 37, ../partials/_helpers.scss */
.d-chi-wrapper .thumbnail {
  padding: 1%;
  border: 1px solid #eee;
}
/* line 43, ../partials/_helpers.scss */
.d-chi-wrapper .content {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0);
}
/* line 48, ../partials/_helpers.scss */
.d-chi-wrapper .no-margin {
  margin: 0 !important;
}
/* line 52, ../partials/_helpers.scss */
.d-chi-wrapper .no-margin-top {
  margin-top: 0 !important;
}
/* line 56, ../partials/_helpers.scss */
.d-chi-wrapper .no-margin-bottom {
  margin-bottom: 0 !important;
}
/* line 60, ../partials/_helpers.scss */
.d-chi-wrapper .margin-top {
  margin-top: 2em !important;
}
/* line 63, ../partials/_helpers.scss */
.d-chi-wrapper .margin-bottom {
  margin-bottom: 2em !important;
}
@media only screen and (max-width: 48em) {
  /* line 67, ../partials/_helpers.scss */
  .d-chi-wrapper .sm-margin-bottom {
    margin-bottom: 2em !important;
  }
}
@media only screen and (max-width: 64em) {
  /* line 72, ../partials/_helpers.scss */
  .d-chi-wrapper .md-margin-bottom {
    margin-bottom: 2em !important;
  }
}
/* line 78, ../partials/_helpers.scss */
.d-chi-wrapper .no-padding {
  padding: 0 !important;
}
/* line 82, ../partials/_helpers.scss */
.d-chi-wrapper .no-padding-top {
  padding-top: 0 !important;
}
/* line 85, ../partials/_helpers.scss */
.d-chi-wrapper .no-padding-bottom {
  padding-bottom: 0 !important;
}
/* line 88, ../partials/_helpers.scss */
.d-chi-wrapper .padding-top {
  padding-top: 2em !important;
}
/* line 91, ../partials/_helpers.scss */
.d-chi-wrapper .padding-bottom {
  padding-bottom: 2em !important;
}
/* line 95, ../partials/_helpers.scss */
.d-chi-wrapper .list-none, .d-chi-wrapper .image-list {
  list-style: none;
  padding-left: 0;
}
/* line 100, ../partials/_helpers.scss */
.d-chi-wrapper .border-bottom {
  border-bottom: 2px solid #b6b7b5;
}
@media only screen and (min-width: 64.0625em) {
  /* line 104, ../partials/_helpers.scss */
  .d-chi-wrapper .border-right-lg {
    margin-right: 0;
    padding-right: 3%;
    border-right: 3px solid #f4f4f4;
  }
}
/* line 112, ../partials/_helpers.scss */
.d-chi-wrapper .border-top-sm-md {
  border-top: 3px solid #f4f4f4;
  padding-top: 2em;
}
@media only screen and (min-width: 64.0625em) {
  /* line 112, ../partials/_helpers.scss */
  .d-chi-wrapper .border-top-sm-md {
    border-top: 0;
    padding-top: 0;
  }
}
/* line 121, ../partials/_helpers.scss */
.d-chi-wrapper .image-center-sm {
  text-align: center;
}
@media only screen and (min-width: 48em) {
  /* line 121, ../partials/_helpers.scss */
  .d-chi-wrapper .image-center-sm {
    text-align: left;
  }
}
/* line 127, ../partials/_helpers.scss */
.d-chi-wrapper .image-center-sm .image, .d-chi-wrapper .image-center-sm .rounded, .d-chi-wrapper .image-center-sm .circle, .d-chi-wrapper .image-center-sm .thumbnail {
  max-width: 400px;
  margin: 0 auto;
}
@media only screen and (min-width: 64.0625em) {
  /* line 133, ../partials/_helpers.scss */
  .d-chi-wrapper .text-hover {
    transition: text-shadow 300ms;
  }
  /* line 137, ../partials/_helpers.scss */
  .d-chi-wrapper .text-hover:hover {
    text-shadow: 0.125px 0 0 #532e60, -0.125px 0 0 #532e60;
  }
}
/* line 143, ../partials/_helpers.scss */
.d-chi-wrapper .text-top {
  line-height: 1em;
  margin-top: -0.1em;
}
@media only screen and (min-width: 20em) and (max-width: 48em) {
  /* line 149, ../partials/_helpers.scss */
  .d-chi-wrapper .sm-hide {
    display: none !important;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  /* line 156, ../partials/_helpers.scss */
  .d-chi-wrapper .md-hide {
    display: none !important;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 163, ../partials/_helpers.scss */
  .d-chi-wrapper .lg-hide {
    display: none !important;
  }
}
@media only screen and (min-width: 72.0625em) {
  /* line 170, ../partials/_helpers.scss */
  .d-chi-wrapper .xl-hide {
    display: none !important;
  }
}
@media only screen and (min-width: 80.0625em) {
  /* line 177, ../partials/_helpers.scss */
  .d-chi-wrapper .xxl-hide {
    display: none !important;
  }
}

/* grid variables */
/* line 5, ../partials/_grid.scss */
[class*='grid-'] {
  margin: 0 1% 1.875em;
  overflow: hidden;
  display: inline-block;
  position: relative;
  float: left;
}
/* line 11, ../partials/_grid.scss */
[class*='grid-'] [class*='grid-'] {
  margin-bottom: 0;
}

/* line 18, ../partials/_grid.scss */
.grid-1 {
  width: 6.33333%;
}

/* line 18, ../partials/_grid.scss */
.grid-2 {
  width: 14.66667%;
}

/* line 18, ../partials/_grid.scss */
.grid-3 {
  width: 23%;
}

/* line 18, ../partials/_grid.scss */
.grid-4 {
  width: 31.33333%;
}

/* line 18, ../partials/_grid.scss */
.grid-5 {
  width: 39.66667%;
}

/* line 18, ../partials/_grid.scss */
.grid-6 {
  width: 48%;
}

/* line 18, ../partials/_grid.scss */
.grid-7 {
  width: 56.33333%;
}

/* line 18, ../partials/_grid.scss */
.grid-8 {
  width: 64.66667%;
}

/* line 18, ../partials/_grid.scss */
.grid-9 {
  width: 73%;
}

/* line 18, ../partials/_grid.scss */
.grid-10 {
  width: 81.33333%;
}

/* line 18, ../partials/_grid.scss */
.grid-11 {
  width: 89.66667%;
}

/* line 18, ../partials/_grid.scss */
.grid-12 {
  width: 98%;
}

@media only screen and (min-width: 20em) {
  /* line 26, ../partials/_grid.scss */
  .sm-grid-1 {
    width: 6.33333%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-2 {
    width: 14.66667%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-3 {
    width: 23%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-4 {
    width: 31.33333%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-5 {
    width: 39.66667%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-6 {
    width: 48%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-7 {
    width: 56.33333%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-8 {
    width: 64.66667%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-9 {
    width: 73%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-10 {
    width: 81.33333%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-11 {
    width: 89.66667%;
  }

  /* line 26, ../partials/_grid.scss */
  .sm-grid-12 {
    width: 98%;
  }
}
@media only screen and (min-width: 48em) {
  /* line 35, ../partials/_grid.scss */
  .md-grid-1 {
    width: 6.33333%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-2 {
    width: 14.66667%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-3 {
    width: 23%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-4 {
    width: 31.33333%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-5 {
    width: 39.66667%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-6 {
    width: 48%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-7 {
    width: 56.33333%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-8 {
    width: 64.66667%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-9 {
    width: 73%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-10 {
    width: 81.33333%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-11 {
    width: 89.66667%;
  }

  /* line 35, ../partials/_grid.scss */
  .md-grid-12 {
    width: 98%;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 44, ../partials/_grid.scss */
  .lg-grid-1 {
    width: 6.33333%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-2 {
    width: 14.66667%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-3 {
    width: 23%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-4 {
    width: 31.33333%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-5 {
    width: 39.66667%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-6 {
    width: 48%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-7 {
    width: 56.33333%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-8 {
    width: 64.66667%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-9 {
    width: 73%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-10 {
    width: 81.33333%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-11 {
    width: 89.66667%;
  }

  /* line 44, ../partials/_grid.scss */
  .lg-grid-12 {
    width: 98%;
  }
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-1 {
  width: 6.33333%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-2 {
  width: 14.66667%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-3 {
  width: 23%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-4 {
  width: 31.33333%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-5 {
  width: 39.66667%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-6 {
  width: 48%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-7 {
  width: 56.33333%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-8 {
  width: 64.66667%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-9 {
  width: 73%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-10 {
  width: 81.33333%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-11 {
  width: 89.66667%;
}
/* line 52, ../partials/_grid.scss */
.ie8 .sm-grid-12 {
  width: 98%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-1 {
  width: 6.33333%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-2 {
  width: 14.66667%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-3 {
  width: 23%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-4 {
  width: 31.33333%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-5 {
  width: 39.66667%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-6 {
  width: 48%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-7 {
  width: 56.33333%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-8 {
  width: 64.66667%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-9 {
  width: 73%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-10 {
  width: 81.33333%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-11 {
  width: 89.66667%;
}
/* line 58, ../partials/_grid.scss */
.ie8 .md-grid-12 {
  width: 98%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-1 {
  width: 6.33333%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-2 {
  width: 14.66667%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-3 {
  width: 23%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-4 {
  width: 31.33333%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-5 {
  width: 39.66667%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-6 {
  width: 48%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-7 {
  width: 56.33333%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-8 {
  width: 64.66667%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-9 {
  width: 73%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-10 {
  width: 81.33333%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-11 {
  width: 89.66667%;
}
/* line 64, ../partials/_grid.scss */
.ie8 .lg-grid-12 {
  width: 98%;
}

/* line 72, ../partials/_grid.scss */
.offset-1 {
  margin-left: 9.33333%;
}

/* line 72, ../partials/_grid.scss */
.offset-2 {
  margin-left: 17.66667%;
}

/* line 72, ../partials/_grid.scss */
.offset-3 {
  margin-left: 26%;
}

/* line 72, ../partials/_grid.scss */
.offset-4 {
  margin-left: 34.33333%;
}

/* line 72, ../partials/_grid.scss */
.offset-5 {
  margin-left: 42.66667%;
}

/* line 72, ../partials/_grid.scss */
.offset-6 {
  margin-left: 51%;
}

/* line 72, ../partials/_grid.scss */
.offset-7 {
  margin-left: 59.33333%;
}

/* line 72, ../partials/_grid.scss */
.offset-8 {
  margin-left: 67.66667%;
}

/* line 72, ../partials/_grid.scss */
.offset-9 {
  margin-left: 76%;
}

/* line 72, ../partials/_grid.scss */
.offset-10 {
  margin-left: 84.33333%;
}

/* line 72, ../partials/_grid.scss */
.offset-11 {
  margin-left: 92.66667%;
}

/* line 72, ../partials/_grid.scss */
.offset-12 {
  margin-left: 101%;
}

@media only screen and (min-width: 48em) {
  /* line 77, ../partials/_grid.scss */
  .equal-heights, #body .row {
    display: flex;
  }
}

/* rows */
/* line 84, ../partials/_grid.scss */
.row {
  margin: 0 -1%;
}
/* line 10, ../partials/_mixins.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 15, ../partials/_mixins.scss */
.row:after {
  clear: both;
}
/* line 88, ../partials/_grid.scss */
.row > .row {
  margin: 0;
}
/* line 98, ../partials/_grid.scss */
#body .row .row {
  display: block;
}

/* line 108, ../partials/_grid.scss */
.module {
  background: white;
  padding: 2em;
  line-height: 1.375em;
  border-bottom: 2px solid #bfc0be;
}

/* line 115, ../partials/_grid.scss */
.pull-left {
  margin-left: 0;
}

/* line 4, ../partials/_layouts.scss */
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
}

/* line 11, ../partials/_layouts.scss */
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 20, ../partials/_layouts.scss */
.d-chi-wrapper .container {
  width: 95%;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 84em) {
  /* line 20, ../partials/_layouts.scss */
  .d-chi-wrapper .container {
    width: 80em;
  }
}

/* line 4, ../partials/_buttons.scss */
.d-chi-wrapper button:focus {
  outline: none;
}
/* line 9, ../partials/_buttons.scss */
.d-chi-wrapper .button, .d-chi-wrapper .primary, .d-chi-wrapper .secondary, .d-chi-wrapper .tertiary, .d-chi-wrapper .xx-small, .d-chi-wrapper .x-small, .d-chi-wrapper .small, .d-chi-wrapper .large, .d-chi-wrapper .x-large {
  color: #fff;
  text-decoration: none;
  padding: 0 1em;
  line-height: 32px;
  line-height: 2rem;
  border-radius: 12px;
  border: 0;
  text-transform: uppercase;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 22, ../partials/_buttons.scss */
.d-chi-wrapper .button:focus, .d-chi-wrapper .primary:focus, .d-chi-wrapper .secondary:focus, .d-chi-wrapper .tertiary:focus, .d-chi-wrapper .xx-small:focus, .d-chi-wrapper .x-small:focus, .d-chi-wrapper .small:focus, .d-chi-wrapper .large:focus, .d-chi-wrapper .x-large:focus {
  outline: none;
}
/* line 26, ../partials/_buttons.scss */
.d-chi-wrapper .primary {
  background-color: #532e60;
}
/* line 30, ../partials/_buttons.scss */
.d-chi-wrapper .secondary {
  background-color: #755880;
}
@media only screen and (min-width: 64.0625em) {
  /* line 30, ../partials/_buttons.scss */
  .d-chi-wrapper .secondary {
    transition: all 300ms;
  }
  /* line 36, ../partials/_buttons.scss */
  .d-chi-wrapper .secondary:hover {
    background-color: #532e60;
  }
}
/* line 42, ../partials/_buttons.scss */
.d-chi-wrapper .tertiary {
  background-color: #a1a1a1;
}
@media only screen and (min-width: 64.0625em) {
  /* line 42, ../partials/_buttons.scss */
  .d-chi-wrapper .tertiary {
    transition: all 300ms;
  }
  /* line 47, ../partials/_buttons.scss */
  .d-chi-wrapper .tertiary:hover {
    background-color: #444444;
  }
}
/* line 52, ../partials/_buttons.scss */
.d-chi-wrapper .xx-small {
  font-size: 0.75em;
}
/* line 56, ../partials/_buttons.scss */
.d-chi-wrapper .x-small {
  font-size: 0.8125em;
}
/* line 60, ../partials/_buttons.scss */
.d-chi-wrapper .small {
  font-size: 0.875em;
}
/* line 64, ../partials/_buttons.scss */
.d-chi-wrapper .large {
  font-size: 1.125em;
}
/* line 68, ../partials/_buttons.scss */
.d-chi-wrapper .x-large {
  font-size: 1.375em;
}
/* line 72, ../partials/_buttons.scss */
.d-chi-wrapper .btn-back {
  position: relative;
  text-transform: uppercase;
  font-size: 1em;
  background: none;
  color: white;
  opacity: 1;
  line-height: 0.8;
  margin: 0.5em 0;
  padding-left: 1.25em;
  border: 0;
}
/* line 83, ../partials/_buttons.scss */
.d-chi-wrapper .btn-back:focus {
  outline: none;
}
/* line 87, ../partials/_buttons.scss */
.d-chi-wrapper .btn-back:before {
  content: "";
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  transform: rotate(-45deg);
  left: 0.2em;
  top: 0;
  border-left: 2px solid #008dcf;
  border-top: 2px solid #008dcf;
}
@media only screen and (min-width: 64.0625em) {
  /* line 87, ../partials/_buttons.scss */
  .d-chi-wrapper .btn-back:before {
    display: none;
    content: none;
  }
}
/* line 104, ../partials/_buttons.scss */
.d-chi-wrapper .wide {
  padding: 0 2em;
}
/* line 108, ../partials/_buttons.scss */
.d-chi-wrapper .btn-close {
  top: 0;
  right: 0;
  opacity: 0.4;
  position: absolute;
  color: #532e60;
  background: white;
  border: 0;
  width: 2.25em;
  height: 2.25em;
  border-radius: 0.25em;
  transition: all 300ms;
}
/* line 121, ../partials/_buttons.scss */
.d-chi-wrapper .btn-close:focus {
  outline: none;
}
/* line 124, ../partials/_buttons.scss */
.d-chi-wrapper .btn-close:before, .d-chi-wrapper .btn-close:after {
  position: absolute;
  display: block;
  content: "";
  width: 3.25em;
  height: 3.25em;
  top: 0.7em;
  transform: rotate(45deg);
}
/* line 135, ../partials/_buttons.scss */
.d-chi-wrapper .btn-close:before {
  border-left: 1px solid #532e60;
  left: 0.55em;
}
/* line 140, ../partials/_buttons.scss */
.d-chi-wrapper .btn-close:after {
  border-top: 1px solid #532e60;
  left: -1.55em;
}
@media only screen and (min-width: 64.0625em) {
  /* line 146, ../partials/_buttons.scss */
  .d-chi-wrapper .btn-close:hover {
    opacity: 0.8;
  }
}

/* line 3, ../partials/_icons.scss */
.d-chi-wrapper .icon {
  width: 2.5em;
  height: 2.5em;
}

/* line 1, ../submodules/_image.scss */
.image, .d-chi-wrapper .rounded, .d-chi-wrapper .circle, .d-chi-wrapper .thumbnail {
  position: relative;
}
/* line 4, ../submodules/_image.scss */
.image .play, .d-chi-wrapper .rounded .play, .d-chi-wrapper .circle .play, .d-chi-wrapper .thumbnail .play {
  display: none;
  bottom: 9%;
  left: 5%;
  fill: white;
}
/* line 11, ../submodules/_image.scss */
.image .play + img, .d-chi-wrapper .rounded .play + img, .d-chi-wrapper .circle .play + img, .d-chi-wrapper .thumbnail .play + img {
  display: none;
}
@media only screen and (min-width: 64.0625em) {
  /* line 4, ../submodules/_image.scss */
  .image .play, .d-chi-wrapper .rounded .play, .d-chi-wrapper .circle .play, .d-chi-wrapper .thumbnail .play {
    bottom: 7%;
  }
}
/* line 20, ../submodules/_image.scss */
.image.video, .d-chi-wrapper .video.rounded, .d-chi-wrapper .video.circle, .d-chi-wrapper .video.thumbnail {
  cursor: pointer;
}
/* line 23, ../submodules/_image.scss */
.image.video .play, .d-chi-wrapper .video.rounded .play, .d-chi-wrapper .video.circle .play, .d-chi-wrapper .video.thumbnail .play {
  display: block;
  position: absolute;
  -webkit-filter: drop-shadow(0 0 10px black);
  filter: drop-shadow(0 0 10px black);
  height: 1.5em;
  width: 1.5em;
}
/* line 31, ../submodules/_image.scss */
.image.video .play + img, .d-chi-wrapper .video.rounded .play + img, .d-chi-wrapper .video.circle .play + img, .d-chi-wrapper .video.thumbnail .play + img {
  display: block;
}
@media only screen and (min-width: 64.0625em) {
  /* line 23, ../submodules/_image.scss */
  .image.video .play, .d-chi-wrapper .video.rounded .play, .d-chi-wrapper .video.circle .play, .d-chi-wrapper .video.thumbnail .play {
    height: 2.5em;
    width: 2.5em;
    transition: all 200ms;
  }
  /* line 41, ../submodules/_image.scss */
  .image.video .play:hover, .d-chi-wrapper .video.rounded .play:hover, .d-chi-wrapper .video.circle .play:hover, .d-chi-wrapper .video.thumbnail .play:hover {
    fill: #c7c7c7;
  }
}

/* line 49, ../submodules/_image.scss */
a.image.video, .d-chi-wrapper a.video.rounded, .d-chi-wrapper a.video.circle, .d-chi-wrapper a.video.thumbnail {
  display: block;
}

/* line 1, ../submodules/_caption.scss */
.caption {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
}
/* line 6, ../submodules/_caption.scss */
.caption.text-lg {
  font-size: 1.125em;
}

/* line 1, ../submodules/_link.scss */
.link, .link-list li a {
  font-size: 1.125em;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  color: #444444;
  padding-right: 1.5em;
}
/* line 9, ../submodules/_link.scss */
.link.link-lg, .link-list li a.link-lg {
  font-size: 1.5em;
}
/* line 11, ../submodules/_link.scss */
.link.link-lg:after, .link-list li a.link-lg:after {
  margin-bottom: -0.1em;
}
/* line 16, ../submodules/_link.scss */
h3 .link, h3 .link-list li a, .link-list li h3 a, h4 .link, h4 .link-list li a, .link-list li h4 a, .heading-3 .link, .heading-3 .link-list li a, .link-list li .heading-3 a, .heading-4 .link, .heading-4 .link-list li a, .link-list li .heading-4 a {
  font-weight: 200;
  color: #532e60;
}
/* line 25, ../submodules/_link.scss */
.link:after, .link-list li a:after {
  content: "";
  width: 0.4em;
  height: 0.4em;
  bottom: 0.5em;
  margin-left: 0.5em;
  margin-bottom: -0.2em;
  position: absolute;
  pointer-events: none;
  border-top: 1px solid #0074c6;
  border-right: 1px solid #0074c6;
  transform: rotate(45deg);
}
/* line 40, ../submodules/_link.scss */
.link.no-arrow:after, .link-list li a.no-arrow:after, .link.no-arrow:before, .link-list li a.no-arrow:before {
  display: none;
  content: none;
}
/* line 47, ../submodules/_link.scss */
.link.previous, .link-list li a.previous {
  padding-right: 0;
  padding-left: 1.5em;
}
/* line 50, ../submodules/_link.scss */
.link.previous:after, .link-list li a.previous:after {
  display: none;
}
/* line 53, ../submodules/_link.scss */
.link.previous:before, .link-list li a.previous:before {
  content: "";
  width: 0.4em;
  height: 0.4em;
  bottom: 0.5em;
  margin-left: -1em;
  margin-bottom: -0.2em;
  position: absolute;
  pointer-events: none;
  border-top: 1px solid #0074c6;
  border-right: 1px solid #0074c6;
  transform: rotate(-135deg);
}
/* line 67, ../submodules/_link.scss */
.link.disabled, .link-list li a.disabled {
  pointer-events: none;
  opacity: 0.5;
}
@media only screen and (min-width: 64.0625em) {
  /* line 1, ../submodules/_link.scss */
  .link, .link-list li a {
    transition: text-shadow 300ms;
  }
  /* line 76, ../submodules/_link.scss */
  .link:hover, .link-list li a:hover {
    text-shadow: #444444 -0.125px 0 0, #444444 0.125px 0 0;
  }
}

/* line 2, ../submodules/_list.scss */
.link-list li {
  margin: 1.5em 0;
}
/* line 5, ../submodules/_list.scss */
.link-list li a {
  transition: text-shadow 300ms;
  font-weight: 300;
}
@media only screen and (min-width: 64.0625em) {
  /* line 11, ../submodules/_list.scss */
  .link-list li a:hover {
    text-shadow: -0.125px 0 0 #532e60, 0.125px 0 0 #532e60;
  }
}

/* line 1, ../submodules/_heading.scss */
h4.subheading {
  margin: 0.5em 0 0;
}

/* line 4, ../submodules/_heading.scss */
h5.subheading {
  margin: 0.25em 0 0;
}

@media only screen and (min-width: 48em) {
  /* line 5, ../modules/_content.scss */
  .d-chi-wrapper .content-module h3 {
    line-height: 1em;
    margin-top: -0.1em;
  }
}
/* line 11, ../modules/_content.scss */
.d-chi-wrapper .content-module .image-wrapper,
.d-chi-wrapper .content-module .content-wrapper {
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: left;
}
/* line 18, ../modules/_content.scss */
.d-chi-wrapper .content-module .image-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
@media only screen and (min-width: 48em) {
  /* line 18, ../modules/_content.scss */
  .d-chi-wrapper .content-module .image-wrapper {
    text-align: left;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 48em) {
  /* line 28, ../modules/_content.scss */
  .d-chi-wrapper .content-module .image-wrapper.image-right {
    text-align: right;
    float: right;
  }
}
/* line 34, ../modules/_content.scss */
.d-chi-wrapper .content-module .image-wrapper .image, .d-chi-wrapper .content-module .image-wrapper .rounded, .d-chi-wrapper .content-module .image-wrapper .circle, .d-chi-wrapper .content-module .image-wrapper .thumbnail {
  margin: 0 auto;
  max-width: 320px;
}
@media only screen and (min-width: 48em) {
  /* line 34, ../modules/_content.scss */
  .d-chi-wrapper .content-module .image-wrapper .image, .d-chi-wrapper .content-module .image-wrapper .rounded, .d-chi-wrapper .content-module .image-wrapper .circle, .d-chi-wrapper .content-module .image-wrapper .thumbnail {
    max-width: 100%;
  }
}
@media only screen and (min-width: 48em) {
  /* line 46, ../modules/_content.scss */
  .grid-12 .d-chi-wrapper .content-module .image-wrapper, .sm-grid-12 .d-chi-wrapper .content-module .image-wrapper, .md-grid-12 .d-chi-wrapper .content-module .image-wrapper, .lg-grid-12 .d-chi-wrapper .content-module .image-wrapper {
    margin-right: 2%;
  }
}
/* line 51, ../modules/_content.scss */
.grid-12 .d-chi-wrapper .content-module .image-wrapper, .sm-grid-12 .d-chi-wrapper .content-module .image-wrapper, .md-grid-12 .d-chi-wrapper .content-module .image-wrapper, .lg-grid-12 .d-chi-wrapper .content-module .image-wrapper {
  margin-right: 2%;
}
@media only screen and (min-width: 48em) {
  /* line 51, ../modules/_content.scss */
  .grid-12 .d-chi-wrapper .content-module .image-wrapper, .sm-grid-12 .d-chi-wrapper .content-module .image-wrapper, .md-grid-12 .d-chi-wrapper .content-module .image-wrapper, .lg-grid-12 .d-chi-wrapper .content-module .image-wrapper {
    width: 40%;
  }
  /* line 55, ../modules/_content.scss */
  .grid-12 .d-chi-wrapper .content-module .image-wrapper.image-right, .sm-grid-12 .d-chi-wrapper .content-module .image-wrapper.image-right, .md-grid-12 .d-chi-wrapper .content-module .image-wrapper.image-right, .lg-grid-12 .d-chi-wrapper .content-module .image-wrapper.image-right {
    margin-right: 0;
    margin-left: 2%;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 51, ../modules/_content.scss */
  .grid-12 .d-chi-wrapper .content-module .image-wrapper, .sm-grid-12 .d-chi-wrapper .content-module .image-wrapper, .md-grid-12 .d-chi-wrapper .content-module .image-wrapper, .lg-grid-12 .d-chi-wrapper .content-module .image-wrapper {
    width: 33.333333%;
  }
}
@media only screen and (min-width: 48em) {
  /* line 65, ../modules/_content.scss */
  .grid-12 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .sm-grid-12 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .md-grid-12 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .lg-grid-12 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper {
    width: 58%;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 65, ../modules/_content.scss */
  .grid-12 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .sm-grid-12 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .md-grid-12 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .lg-grid-12 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper {
    width: 64.666666%;
  }
}
@media only screen and (max-width: 48em) and (orientation: portrait) {
  /* line 75, ../modules/_content.scss */
  .grid-6 .d-chi-wrapper .content-module, .sm-grid-6 .d-chi-wrapper .content-module, .md-grid-6 .d-chi-wrapper .content-module, .lg-grid-6 .d-chi-wrapper .content-module {
    width: 98%;
  }
}
@media only screen and (min-width: 48em) {
  /* line 82, ../modules/_content.scss */
  .grid-6 .d-chi-wrapper .content-module .image-wrapper, .sm-grid-6 .d-chi-wrapper .content-module .image-wrapper, .md-grid-6 .d-chi-wrapper .content-module .image-wrapper, .lg-grid-6 .d-chi-wrapper .content-module .image-wrapper {
    width: 42.666666%;
    margin-right: 4%;
  }
  /* line 86, ../modules/_content.scss */
  .grid-6 .d-chi-wrapper .content-module .image-wrapper.image-right, .sm-grid-6 .d-chi-wrapper .content-module .image-wrapper.image-right, .md-grid-6 .d-chi-wrapper .content-module .image-wrapper.image-right, .lg-grid-6 .d-chi-wrapper .content-module .image-wrapper.image-right {
    margin-right: 0;
    margin-left: 4%;
  }
}
@media only screen and (min-width: 48em) {
  /* line 92, ../modules/_content.scss */
  .grid-6 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .sm-grid-6 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .md-grid-6 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .lg-grid-6 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper {
    width: 53.333333%;
  }
}
@media only screen and (max-width: 48em) and (orientation: portrait) {
  /* line 98, ../modules/_content.scss */
  .grid-8 .d-chi-wrapper .content-module, .sm-grid-8 .d-chi-wrapper .content-module, .md-grid-8 .d-chi-wrapper .content-module, .lg-grid-8 .d-chi-wrapper .content-module {
    width: 98%;
  }
}
@media only screen and (min-width: 48em) {
  /* line 105, ../modules/_content.scss */
  .grid-8 .d-chi-wrapper .content-module .image-wrapper, .sm-grid-8 .d-chi-wrapper .content-module .image-wrapper, .md-grid-8 .d-chi-wrapper .content-module .image-wrapper, .lg-grid-8 .d-chi-wrapper .content-module .image-wrapper {
    width: 30.8%;
    margin-right: 4%;
  }
  /* line 109, ../modules/_content.scss */
  .grid-8 .d-chi-wrapper .content-module .image-wrapper.image-right, .sm-grid-8 .d-chi-wrapper .content-module .image-wrapper.image-right, .md-grid-8 .d-chi-wrapper .content-module .image-wrapper.image-right, .lg-grid-8 .d-chi-wrapper .content-module .image-wrapper.image-right {
    margin-right: 0;
    margin-left: 4%;
  }
}
@media only screen and (min-width: 48em) {
  /* line 115, ../modules/_content.scss */
  .grid-8 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .sm-grid-8 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .md-grid-8 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper, .lg-grid-8 .d-chi-wrapper .content-module .image-wrapper ~ .content-wrapper {
    width: 65.2%;
  }
}
@media only screen and (max-width: 48em) and (orientation: portrait) {
  /* line 121, ../modules/_content.scss */
  .grid-4 .d-chi-wrapper .content-module, .sm-grid-4 .d-chi-wrapper .content-module, .md-grid-4 .d-chi-wrapper .content-module, .lg-grid-4 .d-chi-wrapper .content-module {
    width: 98%;
  }
}

/* line 3, ../modules/_breadcrumb.scss */
.d-chi-wrapper .breadcrumb {
  display: none;
}
@media only screen and (min-width: 64.0625em) {
  /* line 3, ../modules/_breadcrumb.scss */
  .d-chi-wrapper .breadcrumb {
    display: block;
  }
}
/* line 10, ../modules/_breadcrumb.scss */
.d-chi-wrapper .breadcrumb a {
  color: #444444;
  position: relative;
  padding-right: 0.75em;
  margin-right: 1em;
  text-decoration: none;
  transition: text-shadow 300ms;
}
@media only screen and (min-width: 64.0625em) {
  /* line 19, ../modules/_breadcrumb.scss */
  .d-chi-wrapper .breadcrumb a:hover {
    text-shadow: #444444 0.125px 0 0, #444444 -0.125px 0 0;
  }
}
/* line 24, ../modules/_breadcrumb.scss */
.d-chi-wrapper .breadcrumb a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.25em;
  height: 0.5em;
  width: 0.5em;
  border-right: 1px solid;
  border-top: 1px solid;
  transform: rotate(45deg);
}
/* line 39, ../modules/_breadcrumb.scss */
.d-chi-wrapper .breadcrumb span {
  color: #532e60;
}

@media only screen and (min-width: 48em) {
  /* line 6, ../modules/_image-list.scss */
  .d-chi-wrapper .image-list li {
    margin-bottom: 1em;
  }
}
/* line 15, ../modules/_image-list.scss */
.d-chi-wrapper .image-list h4 > a {
  transition: text-shadow 300ms;
}
@media only screen and (min-width: 64.0625em) {
  /* line 19, ../modules/_image-list.scss */
  .d-chi-wrapper .image-list h4 > a:hover {
    text-shadow: 0 0 0 #532e60;
  }
}
/* line 26, ../modules/_image-list.scss */
.d-chi-wrapper .image-list .image-wrapper {
  text-align: center;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 48em) {
  /* line 26, ../modules/_image-list.scss */
  .d-chi-wrapper .image-list .image-wrapper {
    text-align: left;
    max-width: 115px;
    margin-bottom: 0;
    display: inline-block;
    float: left;
    margin-right: 1.25em;
  }
}
/* line 38, ../modules/_image-list.scss */
.grid-4 .d-chi-wrapper .image-list .image-wrapper, .sm-grid-4 .d-chi-wrapper .image-list .image-wrapper, .md-grid-4 .d-chi-wrapper .image-list .image-wrapper, .lg-grid-4 .d-chi-wrapper .image-list .image-wrapper {
  display: none;
}
@media only screen and (min-width: 64.0625em) {
  /* line 38, ../modules/_image-list.scss */
  .grid-4 .d-chi-wrapper .image-list .image-wrapper, .sm-grid-4 .d-chi-wrapper .image-list .image-wrapper, .md-grid-4 .d-chi-wrapper .image-list .image-wrapper, .lg-grid-4 .d-chi-wrapper .image-list .image-wrapper {
    text-align: left;
    max-width: 115px;
    margin-bottom: 0;
    display: inline-block;
    float: left;
    margin-right: 1.25em;
  }
}
/* line 56, ../modules/_image-list.scss */
.d-chi-wrapper .image-list .content-wrapper {
  margin-bottom: 2em;
}
@media only screen and (min-width: 48em) {
  /* line 56, ../modules/_image-list.scss */
  .d-chi-wrapper .image-list .content-wrapper {
    margin-bottom: 0;
  }
  /* line 62, ../modules/_image-list.scss */
  .image-wrapper ~ .d-chi-wrapper .image-list .content-wrapper {
    padding-left: 8.4375em;
  }
}
/* line 67, ../modules/_image-list.scss */
.d-chi-wrapper .image-list .content-wrapper p {
  margin-top: 0;
}
/* line 73, ../modules/_image-list.scss */
.d-chi-wrapper .grid-4 .image-list .image-wrapper ~ .content-wrapper,
.d-chi-wrapper .sm-grid-4 .image-list .image-wrapper ~ .content-wrapper,
.d-chi-wrapper .md-grid-4 .image-list .image-wrapper ~ .content-wrapper,
.d-chi-wrapper .lg-grid-4 .image-list .image-wrapper ~ .content-wrapper {
  padding-left: 0;
}
@media only screen and (min-width: 64.0625em) {
  /* line 73, ../modules/_image-list.scss */
  .d-chi-wrapper .grid-4 .image-list .image-wrapper ~ .content-wrapper,
  .d-chi-wrapper .sm-grid-4 .image-list .image-wrapper ~ .content-wrapper,
  .d-chi-wrapper .md-grid-4 .image-list .image-wrapper ~ .content-wrapper,
  .d-chi-wrapper .lg-grid-4 .image-list .image-wrapper ~ .content-wrapper {
    padding-left: 8.4375em;
  }
}

@keyframes cssInitShow {
  /* line 2, ../modules/_global-contact.scss */
  0% {
    left: 0;
  }

  /* line 6, ../modules/_global-contact.scss */
  25% {
    left: 0;
  }

  /* line 10, ../modules/_global-contact.scss */
  75% {
    left: 0;
  }

  /* line 14, ../modules/_global-contact.scss */
  100% {
    left: -60px;
  }
}
/* line 22, ../modules/_global-contact.scss */
.d-chi-wrapper .scEditMode .global-contact {
  display: none;
}
/* line 26, ../modules/_global-contact.scss */
.d-chi-wrapper .global-contact {
  top: 11.25em;
  left: 0;
  position: fixed;
  z-index: 2;
  transition: left 300ms;
}
@media only screen and (max-width: 1025px) {
  /* line 26, ../modules/_global-contact.scss */
  .d-chi-wrapper .global-contact {
    display: none;
  }
}
@media only screen and (max-width: 1440px) {
  /* line 26, ../modules/_global-contact.scss */
  .d-chi-wrapper .global-contact {
    left: -60px;
    animation: cssInitShow 900ms;
  }
  /* line 39, ../modules/_global-contact.scss */
  .d-chi-wrapper .global-contact:hover {
    left: 0;
  }
}
/* line 46, ../modules/_global-contact.scss */
.d-chi-wrapper .global-contact ul {
  padding: 0;
  margin: 0;
}
/* line 51, ../modules/_global-contact.scss */
.d-chi-wrapper .global-contact ul li > a {
  text-transform: uppercase;
  font-size: 0.875em;
  display: block;
  text-align: center;
  background: #532e60;
  color: white;
  width: 5em;
  height: 5em;
  border-top: 2px solid #654370;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  opacity: 0.90;
  transition: opacity 0.25s ease;
}
/* line 66, ../modules/_global-contact.scss */
.d-chi-wrapper .global-contact ul li > a:hover {
  opacity: 1;
}
/* line 70, ../modules/_global-contact.scss */
.d-chi-wrapper .global-contact ul li > a > span {
  padding-top: 0.7em;
  display: block;
}
/* line 75, ../modules/_global-contact.scss */
.d-chi-wrapper .global-contact ul li > a .icon {
  max-height: 2em;
  opacity: 0.4;
  fill: white;
}
/* line 80, ../modules/_global-contact.scss */
.d-chi-wrapper .global-contact ul li > a:hover .icon {
  opacity: 1;
}
/* line 87, ../modules/_global-contact.scss */
.d-chi-wrapper .global-contact ul li:first-child > a {
  border-top: 0;
}
/* line 93, ../modules/_global-contact.scss */
.d-chi-wrapper .global-contact ul .last svg {
  width: 1.75em;
  height: 1.75em;
}

/* line 6, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 #body {
  padding-top: 9em;
  min-height: 60em;
}
/* line 11, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 button,
.d-chi-wrapper .ie8 input,
.d-chi-wrapper .ie8 select,
.d-chi-wrapper .ie8 textarea {
  *vertical-align: middle;
}
/* line 19, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .link-list li h4 a {
  padding-right: 1em;
  background: url(../../images/polyfill/arrow-copy.png) no-repeat right 60%;
}
/* line 23, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .link-list li h4 a:after {
  display: none;
}
/* line 29, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .overlay-container {
  background: url(../../images/polyfill/overlay-bg.png);
}
/* line 32, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .overlay-container .btn-close {
  margin-top: 0;
  background: url(../../images/polyfill/overlay-close-btn.gif);
}
/* line 35, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .overlay-container .btn-close:after, .d-chi-wrapper .ie8 .overlay-container .btn-close:before {
  display: none;
}
/* line 43, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .mobile-nav.open img {
  display: none;
}
/* line 47, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 #mobile-header .mobile-nav.open .close {
  background: url(../../images/polyfill/close-btn.png) no-repeat 50% 50%;
}
/* line 49, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 #mobile-header .mobile-nav.open .close:before, .d-chi-wrapper .ie8 #mobile-header .mobile-nav.open .close:after {
  display: none;
}
/* line 55, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 header {
  border-bottom: 1px solid #eee;
}
/* line 59, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .link, .d-chi-wrapper .ie8 .link-list li a, .link-list li .d-chi-wrapper .ie8 a {
  padding-right: 1em;
  background: url(../../images/polyfill/arrow-copy.png) no-repeat right 50%;
}
/* line 60, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .link:before, .d-chi-wrapper .ie8 .link-list li a:before, .link-list li .d-chi-wrapper .ie8 a:before, .d-chi-wrapper .ie8 .link:after, .d-chi-wrapper .ie8 .link-list li a:after, .link-list li .d-chi-wrapper .ie8 a:after {
  display: none;
}
/* line 67, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .link.no-arrow, .d-chi-wrapper .ie8 .link-list li a.no-arrow, .link-list li .d-chi-wrapper .ie8 a.no-arrow {
  background: none;
}
/* line 71, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .link.previous, .d-chi-wrapper .ie8 .link-list li a.previous, .link-list li .d-chi-wrapper .ie8 a.previous {
  padding-right: 0;
  padding-left: 1em;
  background: url(../../images/polyfill/arrow-left.png) no-repeat left 50%;
}
/* line 79, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 header #main-nav #global-nav a:focus {
  outline: none;
}
/* line 86, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 header #main-nav #global-nav a:hover:after, .d-chi-wrapper .ie8 header #main-nav #global-nav a:hover:before, .d-chi-wrapper .ie8 header #main-nav #global-nav a.active:after, .d-chi-wrapper .ie8 header #main-nav #global-nav a.active:before {
  width: 1em;
  margin-left: -0.5em;
  height: 0.25em;
  border-left: 0;
  border-bottom: 0;
  background: url(../../images/polyfill/arrow.jpg) no-repeat center bottom;
}
/* line 99, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .btn-close {
  margin-top: 1em;
  background: url(../../images/polyfill/close-btn.png) no-repeat center bottom;
  opacity: 1;
}
/* line 103, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .btn-close:after, .d-chi-wrapper .ie8 .btn-close:before {
  border: none;
}
/* line 109, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .btn-back {
  padding-left: 1em;
  background: url(../../images/polyfill/arrow-left.png) no-repeat center left;
}
/* line 112, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .btn-back:before {
  display: none;
}
/* line 118, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .nav-search input {
  padding-left: 0.5em;
}
/* line 121, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .nav-search img {
  display: none;
}
/* line 127, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .breadcrumb a {
  background: url(../../images/polyfill/arrow-blk.png) no-repeat right 75%;
}
/* line 129, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .breadcrumb a:after {
  display: none;
}
/* line 135, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 select {
  background-image: none;
  padding-right: 0;
}
/* line 141, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .sign-in img {
  width: 1em;
  height: 1em;
}
/* line 147, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .play + img {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  bottom: 9%;
  left: 5%;
}
/* line 155, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .sitemap-module ul a {
  width: auto;
}
/* line 158, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .module-slider .slides-nav {
  visibility: hidden;
}
/* line 162, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .module-slider .slides-nav .prev:after, .d-chi-wrapper .ie8 .module-slider .slides-nav .prev:before,
.d-chi-wrapper .ie8 .module-slider .slides-nav .next:after,
.d-chi-wrapper .ie8 .module-slider .slides-nav .next:before {
  display: none;
}
/* line 167, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .module-slider .slides-nav .prev {
  background: url(../../images/polyfill/slider-arrow-left.png) no-repeat 50% 50%;
}
/* line 170, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .module-slider .slides-nav .next {
  background: url(../../images/polyfill/slider-arrow-right.png) no-repeat 50% 50%;
}
/* line 177, ../browsers/_ie8.scss */
.d-chi-wrapper .ie8 .module-slider:hover .slides-nav {
  visibility: visible;
}

/* line 5, ../browsers/_ie9.scss */
.d-chi-wrapper .ie9 .module select {
  background-image: none;
  padding-right: 0;
}

/* line 34, ../main.scss */
.d-chi-wrapper .wrapper {
  width: 100%;
  transition: left 300ms;
  left: 0;
}
/* line 64, ../main.scss */
.d-chi-wrapper #body {
  padding-top: 30px;
  min-height: 60em;
  position: relative;
  z-index: 1;
  background-color: #e4e3c6;
  background-image: linear-gradient(#e4e3c6 1%, #f2f2ee 26%);
}
/* line 70, ../main.scss */
.d-chi-wrapper #body hr {
  border: none;
  border-top: 1px solid #ececec;
  margin: 2em 0;
}
/* line 83, ../main.scss */
.d-chi-wrapper .loading:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: url("/assets/images/loader.gif") center center no-repeat;
}
