<footer id="footer">
    <div id="footer-wrapper">
        <div class="container clearfix">
            <div class="row clearfix">
                <div class="grid-12 lg-grid-3">
                    <ul class="list-none">
                        <li>
                            <a href="#">
                                <svg class="icon">
                                    <use xlink:href="./assets/images/svg/symbols.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="icon">
                                    <use xlink:href="./assets/images/svg/symbols.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="icon">
                                    <use xlink:href="./assets/images/svg/symbols.svg#googleplus"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="icon">
                                    <use xlink:href="./assets/images/svg/symbols.svg#youtube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright clearfix">
                <div class="copyright-content">
                    <span>&copy; 2014 Mizer. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>