<footer id="footer">
    <div id="footer-wrapper">
        <div class="container clearfix">
            <div class="copyright clearfix">
                <div class="copyright-content">
                    <span>&copy; 2014 Mizer. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>