<header>
    <div class="container">
        <div class="row margin-top">
            <div class="grid-12">
                <nav>
                    <ul>
                        <li><a href="/index" class="link">Home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>