<header>
    <div class="container">
        <div class="row margin-top">
            <div class="sm-grid-12 md-grid-2">
                {{$ 'image' classes="circle" link="true" source="http://www.fpoimg.com/150x150?text=Logo"}}
            </div>
            <div class="sm-grid-12 md-grid-10">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Lorem</a></li>
                        <li>
                            <button class="button">
                                <svg class="icon">
                                    <use xlink:href="/assets/images/svg/symbols.svg#menu"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>