<header>
    <div class="container">
        <div class="row margin-top">
            <div class="sm-grid-12 md-grid-2">
            </div>
            <div class="sm-grid-12 md-grid-10">
                <nav>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/submodules">SubModules</a></li>
                        <li><a href="/modules">Modules</a></li>
                        <li><a href="/css">Css</a></li>
                        <li><a href="/components">Components</a></li>
                        <li>
                            <button class="button">
                                <svg class="icon">
                                    <use xlink:href="./assets/images/symbol/svg/sprite.symbol.svg#Menu"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>