
//----------------CONFIG------------------//

//default button
$defaultButtonColor: #000000;
$defaultButtonBackgroundColor:transparent;
$defaultButtonBorderColor: #000000;

//default button hover
$defaultButtonHoverColor: #ffffff;
$defaultButtonBackgroundHoverColor:#000000;
$defaultButtonBorderHoverColor: #ffffff;

//-----------------------------------------//

//primary button
$primaryButtonColor: #ffffff;
$primaryButtonBackgroundColor:#333333;
$primaryButtonBorderColor:#333333;

//primary button hover
$primaryButtonHoverColor: #333333;
$primaryButtonBackgroundHoverColor:#ffffff;
$primaryButtonBorderHoverColor:#333333;

//-----------------------------------------//

//secondary button
$secondaryButtonColor: #ffffff;
$secondaryButtonBackgroundColor:#666666;
$secondaryButtonBorderColor:#666666;

//secondary button hover
$secondaryButtonHoverColor: #ffffff;
$secondaryButtonBackgroundHoverColor:#333333;
$secondaryButtonBorderHoverColor:#333333;

//-----------------------------------------//

//tertiary button
$tertiaryButtonColor: #ffffff;
$tertiaryButtonBackgroundColor:#999999;
$tertiaryButtonBorderColor:#999999;

//tertiary button hover
$tertiaryButtonHoverColor: #ffffff;
$tertiaryButtonBackgroundHoverColor:#666666;
$tertiaryButtonBorderHoverColor:#666666;

//-----------------------------------------//

.button{
    float: left;
    text-decoration: none;
    padding:0 1.25em;
    font-size:0.875em;
    margin:1em 0;
    line-height: 2.5;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.3s, border 0.3s, background 0.3s;

    *zoom:1;
    *display:inline;

    color:$defaultButtonColor;
    border:1px solid $defaultButtonBorderColor;
    background-color:$defaultButtonBackgroundColor;

    &:focus{
        outline: none;
    }
}

.no-touch .button:hover{
	color:$defaultButtonHoverColor;
    border:1px solid $defaultButtonBorderHoverColor;
    background-color:$defaultButtonBackgroundHoverColor;
}

button{
	@extend .button;
}

.button.primary{
    color:$primaryButtonColor;
    border:1px solid $primaryButtonBorderColor;
    background-color:$primaryButtonBackgroundColor;
}

.no-touch .button.primary:hover{
	color:$primaryButtonHoverColor;
    border:1px solid $primaryButtonBorderHoverColor;
    background-color:$primaryButtonBackgroundHoverColor;
}

.button.secondary{
    color:$secondaryButtonColor;
    border:1px solid $secondaryButtonBorderColor;
    background-color:$secondaryButtonBackgroundColor;
}

.no-touch .button.secondary:hover{
    color:$secondaryButtonHoverColor;
    border:1px solid $secondaryButtonBorderHoverColor;
    background-color:$secondaryButtonBackgroundHoverColor;
}

.button.tertiary{
    color:$tertiaryButtonColor;
    border:1px solid $tertiaryButtonBorderColor;
    background-color:$tertiaryButtonBackgroundColor;
}

.no-touch .button.tertiary:hover{
	color:$tertiaryButtonHoverColor;
    border:1px solid $tertiaryButtonBorderHoverColor;
    background-color:$tertiaryButtonBackgroundHoverColor;
}

//hover

