.image {
	position: relative;

	.play{
		display: none;

		bottom:9%;
		left:5%;
		fill:$white;
        & + img{
            display: none;
        }

		@include bp('lg'){
			bottom:7%;
		}
	}

	&.video{
		cursor:pointer;

		.play{
			display: block;
			position: absolute;
			filter: drop-shadow(0 0 10px #000);
			height: 1.5em;
			width:1.5em;
			& + img{
                display: block;
            }
            

			@include bp("min", "lg"){
				height: 2.5em;
				width: 2.5em;

				transition: all 200ms;
				&:hover{
					fill:#333;
				}
			}
		}
	}
}