$defaultLinkColor:#666666;
$defaultLinkHoverColor:#333333;

.link{
	color:$defaultLinkColor;
	text-decoration:none;
	position: relative;
	transition:color 0.3s;
}

.no-touch .link:hover{
	color:$defaultLinkHoverColor;
	text-decoration:underline;
}