.link{
	font-size:1.125em;
	text-decoration:none;
	position: relative;

    .fa-angle-right{
    	margin-left: 0.5em;
    }
    .fa-angle-left{
    	margin-right: 0.5em;
    }

	&.link-lg{
		font-size: 1.5em;
	}
    &.disabled{
        pointer-events:none;
        opacity: 0.5;
        cursor: not-allowed;
    }
}