//colors
$white: #ffffff;
$black: #000000;
$primaryPurple:#480a3c;
$secondaryYellow:#ffcd00;

//default body
$backgroundColor:#d7d1c4;
$bodyColor: $black;

//default fonts
$headingFont:'Roboto Condensed', sans-serif;
$bodyFont: 'Roboto', sans-serif;

//button colors
$primaryBtnColor: $primaryPurple;
$secondaryBtnColor: #666;
$tertiaryBtnColor: #999;

//link colors
$primaryLinkColor: #666666;
$secondaryLinkColor:#666666;
$tertiaryLinkColor: #999999;

//heading colors
$headingPrimaryColor: $primaryPurple;
$headingSecondaryColor: $secondaryYellow;
$headingTertiaryColor:$secondaryYellow;

// maximum width of the main site content container
$maxContentWidth: 1280px;

$font-imports: 'http://fonts.googleapis.com/css?family=Roboto+Condensed:700, 400',
				'http://fonts.googleapis.com/css?family=Roboto';

// place the above breakpoints into a list in order to build scalable font sizes
$breakpoints: (
	xs: (
    min: null,
    max: 479px
  ),
	sm: (
    min: 480px,
    max: 767px
  ),
  md: (
    min: 768px,
    max: 1024px
  ),
  lg: (
    min: 1025px,
    max: 1279px
  ),
	xl: (
    min: 1280px,
    max: 1439px
  ),
  xxl: (
    min: 1440px,
    max: 1919px
  ),
  xxxl: (
    min: 1920px,
    max: null
  )
);

// // make a shorthand for accessing $breakpoints
$bp: $breakpoints;

// The following data will be run through a series of loops incorporating the $breakpoints map above
// This will create "responsive" solution using breakpoint overrides by increment
//
// The following must be ordered from smallest to largest
//
// Each main property in the below map will become a class with a "font-" prefix. For example
//     "xsm" becomes ".font-xsm" in the output css
//
//  If "static-size" exists as a key in the map, there will be breakpoints set. This property sets a global font
//      class to apply to all breakpoints.
//
// The number of breakpoints that take place between max-size-bp and min-size-bp depends on the number of intervals set
// see _fonts.scss
$font-sizing: (
    xs: (
        max-size 	: 16px,
        max-size-bp : "xxxl",
        min-size 	: 10px,
        min-size-bp : "md",
        intervals   : 2
    ),
    sm: (
        max-size 	: 18px,
        max-size-bp : "xxxl",
        min-size 	: 12px,
        min-size-bp : "md",
        intervals   : 4
    ),
    md: (
        max-size 	: 22px,
        max-size-bp : "xxxl",
        min-size 	: 14px,
        min-size-bp : "md",
        intervals   : 6
    ),
    lg: (
        max-size 	: 42px,
        max-size-bp : "xxxl",
        min-size 	: 22px,
        min-size-bp : "md",
        intervals   : 10
    ),
    xl: (
        max-size 	: 60px,
        max-size-bp : "xxxl",
        min-size 	: 28px,
        min-size-bp : "md",
        intervals   : 10
    ),
    xxl: (
        max-size 	: 140px,
        max-size-bp : "xxxl",
        min-size 	: 80px,
        min-size-bp : "md",
        intervals   : 10
    ),
    18px: (
        static-size : 18px
    )
 );


