//Lobster
@import url(http://fonts.googleapis.com/css?family=Lobster);

//Petrona
@import url(http://fonts.googleapis.com/css?family=Petrona);

.text-left{
  text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-justified{
  text-align: justify;
}

.text-large{
  font-size:1.25em;
}