/* grid variables */
$gridGutter: 1%;
$gridCol: 12;

[class*='grid-'] {
    margin: 0 $gridGutter 1.875em;
    display: inline-block;
    position: relative;
    float: left;
}

  // ------------------------------------------------------ //
 // - Sets grid system with "min" values in $breakpoints - //
// ------------------------------------------------------ //

// default set to .grid-X where "X" is value from 1 to $gridCol, uses no breakpoints.
//
// $breakpoints{
//    xs: (
//      min: null,
//      max: XXXpx
//    ),
//    sm: (
//      min: XXXpx,
//      max: XXXpx
//    )
// }
//
//  null values in 'min' are added to default class. In this case, .grid-xs-12 is equivalent to .grid-12.
//
//  * Note * - No 'max' breakpoints are used for the grid system
//

@each $key, $value in $bp {
  @each $feature, $width in $value{
    @if $feature == "min" {

      @if not($width){
        @for $i from 1 through $gridCol {
          .grid-#{$key}-#{$i},
          .grid-#{$i} {
            width:percentage($i/$gridCol) - (2*$gridGutter);
          }
        }
      }

      @else{
        @media only screen and (#{$feature}-width: $width){
          @for $i from 1 through $gridCol {
            .grid-#{$key}-#{$i} {
              width:percentage($i/$gridCol) - (2*$gridGutter);
            }
          }
        }
      }
    }
  }
}

// // offset offset loop
// @for $i from 1 through $gridCol{
//     .offset-#{$i}{
//         margin-left:percentage($i/$gridCol) + ($gridGutter);
//     }
// }
// // offset by breakpoint
// @each $key, $value in $breakpoints {
//     @media only screen and (min-width: $value){
//         @for $i from 1 through $gridCol{
//             .offset-#{$key}-#{$i}{
//                 margin-left:percentage($i/$gridCol) + ($gridGutter);
//             }
//         }
//     }
// }

//container
.container{
    width:100%;
    margin:0 auto;
    position: relative;
    padding:0 15px;

    @include bp("min", $maxContentWidth){
        width:$maxContentWidth;
    }
}

//rows
.row{
    @include clearfix;
    margin:0 (-$gridGutter);
    &.equal-heights{
    	@include bp("min", "md"){
	        display: flex;
	    }
    }
}