/* grid variables */
$gridGutter: 1%;
$gridCol: 12;

[class*='grid-'] {
    margin: 0 $gridGutter 1.875em;
    display: inline-block;
    position: relative;
    float: left;
    transition: width 300ms;
}

@each $key, $value in $breakpoints {
    @media only screen and (min-width: $value){
        @for $i from 1 through $gridCol {
            .grid-#{$key}-#{$i} {
                width:percentage($i/$gridCol) - (2*$gridGutter);
            }
        }
    }
}

// // offset offset loop
// @for $i from 1 through $gridCol{
//     .offset-#{$i}{
//         margin-left:percentage($i/$gridCol) + ($gridGutter);
//     }
// }
// // offset by breakpoint
// @each $key, $value in $breakpoints {
//     @media only screen and (min-width: $value){
//         @for $i from 1 through $gridCol{
//             .offset-#{$key}-#{$i}{
//                 margin-left:percentage($i/$gridCol) + ($gridGutter);
//             }
//         }
//     }
// }

//container
.container{
    width:100%;
    margin:0 auto;
    position: relative;
    padding:0 15px;
    
    @include bp($maxContentWidth){
        width:$maxContentWidth;
    }
}

//rows
.row{
    @include clearfix;
    margin:0 (-$gridGutter);
    &.equal-heights{
    	@include bp('med'){
	        display: flex;
	    }
    }
}