// this variable must exist in the broader scope than the ones listed inside .loader due to the mozilla condition in the below code
$mozillaPolyfill:'';

.loader {

    $spinSpeed: 700ms;
    $heightWidth: 50px;
    $backgroundColor:#555;
    $foregroundColor:#222;
    $mainLoaderSVG:'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path fill="#{$backgroundColor}" d="M50 0C22.4 0 0 22.4 0 50c0 27.6 22.4 50 50 50s50-22.4 50-50C100 22.4 77.6 0 50 0zM50 85c-19.3 0-35-15.7-35-35s15.7-35 35-35 35 15.7 35 35S69.3 85 50 85z"/><defs><filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="50" y="0" width="50" height="50"><feFlood result="back" style="flood-color:white;flood-opacity:1"/><feBlend in="SourceGraphic" in2="back" mode="normal"/></filter></defs><mask maskUnits="userSpaceOnUse" x="50" y="0" width="50" height="50" id="SVGID_1_"><g filter="url(#Adobe_OpacityMaskFilter)"><linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="87.83" y1="39.38" x2="89.35" y2="49.17"><stop offset="0" stop-color="#FFFFFF"/><stop offset="0.57" stop-color="#6C6C6C"/><stop offset="1" stop-color="#000000"/></linearGradient><path fill="url(#SVGID_2_)" d="M74.5 25C81 31.4 85 40.2 85 50h15c0-9.1-2.4-17.6-6.7-25H74.5z"/></g></mask><path mask="url(#SVGID_1_)" fill="#{$foregroundColor}" d="M85 50h15c0-27.6-22.4-50-50-50v15C69.3 15 85 30.7 85 50z"/></svg>';
    $mozillaPolyfill: '../images/svg/main-loader.svg';
    $ie8Polyfill: '../images/loader.gif';

    position:relative;
    text-align:center;

    &:before {
        content:'';
        display:inline-block;
        height:$heightWidth;
        width:$heightWidth;
        background-image:url($mainLoaderSVG);
        background-position:50% 50%;
        background-repeat:no-repeat;
        background-scale:cover;
        animation: spin $spinSpeed infinite linear;
        margin:20px 0;
        .ie8 & {
            background-image:url($ie8Polyfill);
        }
        opacity:1;
    }
    &.loader-layer-over:before {
        position:absolute;
        left:50%;
        top:50%;
        margin-left:(($heightWidth / 2) * -1);
        margin-top:(($heightWidth / 2) * -1);
        z-index:2000;
    }

    &.off:before, &.off.loader-layer-over:before {
        transition: all .5s ease;
        opacity:0;

    }
    

}

@-moz-document url-prefix() { 
  .loader:before {
     background-image:url($mozillaPolyfill);
  }
}

@keyframes spin {

    from {
        transform:rotate(360deg);
    }
    
    to {
        transform:rotate(0deg);
    }

}