//colors
$white: #ffffff;
$black: #000000;
$primaryPurple:#480a3c;
$secondaryYellow:#ffcd00;

//default body
$backgroundColor:#d7d1c4;
$bodyColor: $black;

//default fonts
$headingFont:'Lobster', sans-serif;
$bodyFont: 'Petrona', serif;

//button colors
$primaryBtnColor: $primaryPurple;
$secondaryBtnColor: #666;
$tertiaryBtnColor: #999;

//link colors
$primaryLinkColor: #666666;
$secondaryLinkColor:#666666;
$tertiaryLinkColor: #999999;

//heading colors
$headingPrimaryColor: $primaryPurple;
$headingSecondaryColor: $secondaryYellow;
$headingTertiaryColor:$secondaryYellow;


//one pixel
$onepx: 1px;

//major breakpoints
$bp-x-small: 	320px;
$bp-small:		480px;
$bp-medium: 	768px;
$bp-large: 		1024px;
$bp-x-large: 	1152px;
$bp-xx-large:	1280px;