.d-chi-wrapper {

.breadcrumb{
	display:none;

	@include bp-large-min{
		display: block;
	}

	a{
		color:$darkGrey;
		position: relative;
		padding-right: 0.75em;
		margin-right: 1em;
		text-decoration:none;
        transition: text-shadow 300ms;
		
		@include bp-large-min{
			&:hover{
				text-shadow: $darkGrey 0.125px 0 0, $darkGrey -0.125px 0 0, ;
			}
		}

		&:after{
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top:50%;
			margin-top: -0.25em;
			height: 0.5em;
			width:0.5em;
			border-right: 1px solid;
			border-top:1px solid;
			transform: rotate(45deg);
		}
	}

	span{
		color:$darkPurple;
	}
}

}