.d-chi-wrapper {

.content-module {
	@include bp-med-min{
		h3 {
	        line-height: 1em;
            margin-top:-0.1em
	    }
	}
    
    .image-wrapper,
    .content-wrapper {
        display: inline-block;
        zoom:1;
        *display:inline;
        float: left;
    }
    .image-wrapper {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
        @include bp-med-min {
        	text-align: left;
            margin-bottom: 0;
        }

        @include bp-med-min {
            &.image-right {
            	text-align: right;
                float: right;
            }
        }

        .image {
            margin: 0 auto;
            max-width: 320px;
            @include bp-med-min {
                max-width: 100%;
            }
        }
    }
    .grid-12 &,
    .sm-grid-12 &,
    .md-grid-12 &,
    .lg-grid-12 &{
        .image-wrapper {
            @include bp-med-min {
                margin-right: 2%;
            }
        }
        .image-wrapper {
            margin-right: 2%;
            @include bp-med-min {
                width: 40%;
                &.image-right {
                    margin-right: 0;
                    margin-left: 2%;
                }
            }

            @include bp-large-min {
                width: 33.333333%;
            }
        }
        .image-wrapper ~ .content-wrapper {
            @include bp-med-min {
                width: 58%;
            }

            @include bp-large-min {
                width: 64.666666%;
            }
        }
    }
    .grid-6 &,
    .sm-grid-6 &,
    .md-grid-6 &,
    .lg-grid-6 &{
        @media only screen and (max-width: $bp-med) and (orientation: portrait) {
            width: 98%;
        }
        .image-wrapper {
            @include bp-med-min {
                width: 42.666666%;
                margin-right: 4%;
                &.image-right {
                    margin-right: 0;
                    margin-left: 4%;
                }
            }
        }
        .image-wrapper ~ .content-wrapper {
            @include bp-med-min {
                width: 53.333333%;
            }
        }
    }
    .grid-8 &,
    .sm-grid-8 &,
    .md-grid-8 &,
    .lg-grid-8 &{
        @media only screen and (max-width: $bp-med) and (orientation: portrait) {
            width: 98%;
        }
        .image-wrapper {
            @include bp-med-min {
                width: 30.8%;
                margin-right: 4%;
                &.image-right {
                    margin-right: 0;
                    margin-left: 4%;
                }
            }
        }
        .image-wrapper ~ .content-wrapper {
            @include bp-med-min {
                width: 65.2%;
            }
        }
    }
    .grid-4 &,
    .sm-grid-4 &,
    .md-grid-4 &,
    .lg-grid-4 &{
        @media only screen and (max-width: $bp-med) and (orientation: portrait) {
            width: 98%;
        }
    }
}

}