.d-chi-wrapper {

.content-share{
    float:right;
    margin-bottom:1em;

    a{
        text-decoration:none;
        display: block;

    }

    span{
        font-size:0.8125em;
        line-height: 2em;
        margin-right: 0.5em;
    }

    svg{
        fill:$darkPurple;
        width:1.75em;
        height:1.75em;
        vertical-align: bottom;
    }

    @include bp-large-min{
        display: none;
    }
}

}