.d-chi-wrapper {

.form-content{
    @extend .margin-bottom;
    @extend .clearfix;

    .image-wrapper,
    .content-wrapper{
        display: inline-block;
        zoom:1;
        *display:inline;
        float: left;

    }

    .image-wrapper{
        margin-top: 1em;
        text-align: center;
        width:100%;



        @include bp-med-min{
            width:17%;
            margin-right: 3%;
        }
    }

    .image-wrapper ~ .content-wrapper{
        width:100%;

        @include bp-med-min{
            width:80%;
        }            
    }

    .grid-4 &,
    .sm-grid-4 &,
    .md-grid-4 &,
    .lg-grid-4 &{
        .image-wrapper{
            width:100%;
            margin-right: 0;
        }
        .image-wrapper ~ .content-wrapper{
            width: 100%;
        }
    }

    .grid-6 &,
    .sm-grid-6 &,
    .md-grid-6 &,
    .lg-grid-6 &{
        .image-wrapper{
            width:100%;
            margin-right: 0;
            @include bp-large-min{
                width:30%;
                margin-right: 3%;
            }
        }

        .image-wrapper ~ .content-wrapper{
            width:100%;
            @include bp-large-min{
                width: 66%;
            }
        }
    }

    .grid-8 &,
    .sm-grid-8 &,
    .md-grid-8 &,
    .lg-grid-8 &{
        .image-wrapper{
            width:100%;
            margin-right: 0;
            @include bp-large-min{
                width:30%;
                margin-right: 3%;
            }
        }

        .image-wrapper ~ .content-wrapper{
            width:100%;
            @include bp-large-min{
                width: 66%;
            }
        }
    }
}

}

