.d-chi-wrapper {

.module-search-results{

	h4{
		margin:0.5em 0;
	}

	input[type="text"]{
		margin-bottom:0.5em; 
		@include bp-med-min{
			margin-right:0.5em;
		}
	}

	.search-filter .select{
		max-width: 30em;
        width:100%;
        display:block;

	}

	.search-result{
        display: block;
        color: $darkGrey;

		@include bp-large-min{
			cursor: pointer;

			&:hover{
				h4{
                    transition: text-shadow 300ms;
					text-shadow: $darkPurple -0.125px 0 0, $darkPurple 0.125px 0 0;
				}
			}
		}

		h4{
            color:$darkPurple;
			margin:0;
		}


		margin:2em 0 0;
			


		p{
			margin:0.25em 0 0;
		}
	}

	.search-result-list{
		list-style:none;
		padding-left:0;
		font-size: 1.125em;



		li{
			line-height: 1.5em;
			span{
				font-weight: 300;
			}
		}
	}

	
}

}