@import "partials/variables";
@import "partials/mixins";

.d-chi-wrapper {

.module-slider {
    width: 100%;
    padding: 0;
    &.loading {
        &:before {
            background-position: center 30%;
        }
        .slides li {
            display: none;
            &:first-child {
                display: block;
                .image {
                    opacity: 0;
                }
            }
        }
    }
    .slides {
        padding: 0;
        margin: 0;
        height: 100%;
        position: relative;
        list-style: none;
        transition: margin-left 800ms;
        display: flex;
        li {
            position: relative;
            display: inline-block;
            flex: 1;
            float: left;
        }
    }
    .indicators {
        position: absolute;
        right: 1em;
        margin: 0;
        padding: 0;
        transition: top 0.1s ease;

        @include bp-med-min {
            right: 3em;
        }

        &.clickable{
            @include bp-large-min{
                > li{
                    transition: background 300ms;
                    &:hover{
                        cursor: pointer;
                        background: #c4c18e;
                    }

                    &.current:hover{ cursor: default;background: $sliderIndicatorActive;}
                }
            }
        }

        > li {
            display: inline-block;
            float: left;
            background: $sliderIndicatorTan;
            border-radius: 1em;
            margin-left: 0.5em;
            width: 0.5em;
            height: 0.5em;

            @include bp-med-min {
                width: 1em;
                height: 1em;
            }

            &.current {
                background: $sliderIndicatorActive;
            }
        }
    }
    .slides-nav {
        position: absolute;
        top: 12%;
        width: 100%;
        text-shadow: #fff 0 0 3px;
        z-index: 3;
        transition: all 0.1s ease;

        .prev,
        .next {
            top: 50%;
            position: absolute;
            transition: all 300ms;
            cursor: pointer;
            width: 3em;
            height: 3em;
            display: block;
            margin-top: -1.5em;
            &:after {
                content: "";
                width: 1em;
                height: 1em;
                display: block;
                border: 2px solid #fff;
                position: absolute;
                top: 50%;
                margin: -0.5em;
                transition: border 300ms;
            }
            @include bp-large-min {
                &:hover {
                    &:after {
                        border-color: #aaa;
                    }
                }
            }
        }
        .prev {
            left: 1em;
            @include bp-large-min {
                left: 0;
            }

            &:after {
                border-top: 0;
                border-right: 0;
                transform: rotate(45deg);
                left: 50%;
            }
        }
        .next {
            right: 1em;
            @include bp-large-min {
                right: 0;
            }

            &:after {
                border-top: 0;
                border-left: 0;
                transform: rotate(-45deg);
                right: 50%;
            }
        }
    }
    &.hide-extras {
        .indicators,
        .slides-nav {
            opacity: 0;
        }
    }
    .slide-video {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        transition: height 300ms;

        //IE height issue fix
        background: url(/assets/images/blank.gif);

        @include bp-large-min{
        	min-height: 210px;
        	max-height: 430px;
        }

        svg {
            filter: drop-shadow(0 0 10px black);
            position: absolute;
            bottom: 50%;
            left: 50%;
            fill: $white;
            margin-left: -1.25em;
            margin-bottom: -1.25em;
            @include bp-large-min {
                margin-left: 0;
                margin-bottom: 0;
                bottom: 0;
                left: 5%;
                transition: fill 200ms;
                &:hover {
                    fill: $playHoverGrey;
                }
            }
        }
    }
    .image-wrapper {
        position: relative;
        display: block;
        margin-bottom: -21%;
        max-height: 600px;
        overflow: hidden;
        .image {
            transition: opacity 400ms;
            display: block;
            img {
                width: 100%;
            }
        }
    }

    .content-image{
    	@extend .clearfix !optional;
    	img{
    		float: left;
    	}
    }

    .slide-content {
        @extend .clearfix !optional;
        position: relative;
        width:100%;
        height: 100%;
        top:-1px;
        background:$white;
        @include bp-med-min{
        	display: flex;
        }
    }
    .content-wrapper,
    .aside-wrapper {
    	position:relative; //ios6.1 flexbox bug
        padding: 0 2em;
        margin: -3% 0 2em;
        display: inline-block;
        float: left;
        height: auto;
    }
    .content-wrapper {
        width: 100%;
        @include bp-med-min {
            padding-left: 4em;
            border-right: 4px solid #f4f4f4;
            width: 70%;

            &.full-width{
                width:100%;
                border-right:0;
            }
        }

        p {
            margin: 1em 0;
            font-size: 1em;
            line-height: 22px;
            line-height: 1.375rem;
            font-weight: 300;
            @include bp-large-min {
                font-size: 1.125em;
            }
        }
    }
    .aside-wrapper {
        width: 100%;
        text-align: center;
        @include bp-med-min {
            width: 30%;
        }
    }
    .percent,
    .percent-caption {
        display: block;
        color: $orange;
    }
    .percent {
        font-weight: 400;
        font-size: 4em;
        margin-bottom: 0.25em;
        border-top: 4px solid #f4f4f4;
        padding-top: 0.25em;
        word-wrap: break-word;
		line-height: 0.8em;

        @include bp-med-min {
            padding-top: 0;
            border-top: none;
        }

        @include bp-large-min{
        	font-size:5em;
        }
    }
    .percent-caption {
        font-weight: 300;
        font-size: 1.125em;
        @include bp-large-min {
            font-size: 1.5em;
        }
    }
}

//no-touch handling of large tablets/desktop
@include bp-large-min {
	.module-slider {
	    .slides-nav {
	        opacity: 0;
	    }
	    &:hover {
	        .slides-nav {
	            opacity: 1;
	            .prev {
	                left: 1em;
	            }
	            .next {
	                right: 1em;
	            }
	        }
	    }
	}
}
//grid 8 specific styles
.grid-8,
.sm-grid-8,
.md-grid-8,
.lg-grid-8 {
    .slide-content {
        .content-wrapper {
            padding-left: 2em;
            &.full-width{
                width:100%;
                border-right:0;
            }
        }
        .aside-wrapper {
            padding: 0 1em;
            .percent-caption {
                @include bp-med-min {
                    font-size: 1em;
                }

                @include bp-xl-min {
                    font-size: 1.25em;
                }
            }
            @include bp-large-min {
                padding: 0 2em;
            }
        }
    }
}

//grid 6 specific styles
.grid-6,
.sm-grid-6,
.md-grid-6,
.lg-grid-6 {
    .module-slider {
        .percent-caption {
            font-size: 1.25em;
        }
        .slide-content {
        	display: inherit;

        	@include bp-large-min{
	        	display: flex;
	        }

            .content-wrapper {
                padding-left: 2em;
                width: 100%;
                height: auto;
                border-right: 0;
                @include bp-large-min {
                    width: 70%;
                    border-right: 4px solid #f4f4f4;

                    &.full-width{
                        width:100%;
                        border-right:0;
                    }
                }
            }
            .aside-wrapper {
                width: 100%;
                @include bp-large-min {
                    width: 30%;
                    padding: 0 0.75em;
                }

                @include bp-xl-min {
                    padding: 0 1em;
                }

                @include bp-xxl-min {
                    padding: 0 2em;
                }

                .percent {
                    @include bp-med-min {
                        font-size: 4em;
                        border-top: 4px solid #f4f4f4;
                        padding-top: 0.5em;
                    }

                    @include bp-large-min {
                        font-size: 5em;
                        border-top: 0;
                        padding-top: 0;
                    }
                }
                .percent-caption {
                    font-size: 1em;
                    @include bp-xl-min {
                        font-size: 1.125em;
                    }
                }
            }
        }
    }
}

}
