%keytrudaGreen, .keytrudaGreen { color: $keytrudaGreen; }
%linkGreen, .linkGreen { color: $linkGreen; }
%darkBlue, .darkBlue { color: $darkBlue; }
%navyBlue, .navyBlue { color: $navyBlue; }
%deepBlue, .deepBlue { color: $deepBlue; }
%secondaryBlue, .secondaryBlue { color: $secondaryBlue; }
%blue, .blue { color: $blue; }
%teal, .teal { color: $teal; }
%gray, .gray { color: $gray; }

%bgKeytrudaGreen, .bgKeytrudaGreen{ background-color: $keytrudaGreen; }
%bgLinkGreen, .bgLinkGreen{ background-color: $linkGreen; }
%bgNavyBlue, .bgNavyBlue{ background-color: $navyBlue; }
%bgDeepBlue, .bgDeepBlue{ background-color: $deepBlue; }
%bgBlue, .bgBlue{ background-color: $blue; }
%bgGray, .bgGray{ background-color: $gray; }